/*** App Title bar ***/
@use "theme" as *;

.ui-atl {
  background: $title-bg url($title-bg-img) repeat-y;
}

.ui-atl table{
  width: 100%;
}

.ui-atl-bb {
  white-space: nowrap;
  width: 90%;
  text-align: right;
  vertical-align: middle;
}

.ui-atl-i {
  padding: 0px;
}
.ui-atl-i .ui-hvrbtn {
  margin: 7px;
}

.ui-atl-i img {
  display: none;
}

.ui-atl-t {
  width: 10%;
  height: 40px;
  white-space: nowrap;
  color: $title-color;
  font-weight: bold;
  font-size: $hdr-font-size;
  padding-left: 9px;
  vertical-align: middle;
}
