/*** ButtonBar2 ***/
.ui-bbar2 {

}
.ui-bbar2-horizontal {
	display: flex;
	flex-direction: row;

	.ui-bbar2-l {
		flex: 2;
	}

	.ui-bbar2-r {
	}

	.ui-bbar2-bc {
		display: inline-block;
		padding-right: 10px;
	}

}
.ui-bbar2-vertical {
	display: flex;
	flex-direction: column;

	.ui-bbar2-l, .ui-bbar2-r {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.ui-bbar2-bc {
		display: inline-block;
		padding-bottom: 10px;
	}
}



