/*** ButtonBar component ***/
.ui-buttonbar {
	margin-bottom: 8px;
}
.ui-buttonbar button {
	margin-bottom: 2px !important;
}
.ui-bb-middle {
	padding: 0; margin: 0;
}
.ui-bb-middle .ui-button {
	margin: 5px;
}

