/*** ButtonBar2 ***/
.ui-bbar2 {

}
.ui-bbar2-h {
	display: flex;
	flex-direction: row;

	.ui-bbar2-l {
		flex: 2;
	}

	.ui-bbar2-r {
	}

	.ui-bbar2-bc {
		display: inline-block;
		padding-right: 10px;
	}

}
.ui-bbar2-v {

}



