/*** 420_caption2 ***/
@import "variables";

.ui-cptn2 {
} 

/*-- alg substyle --*/
.ui-cptn2-alg {
	font-size: large;
	background: $header_bg;
	color: $bg_ttl_text;
	margin-top: 0px;
}


/*-- pnl substyle --*/
.ui-cptn2-pnl {
	font-size: large;
	background: $header_bg;
	color: $bg_ttl_text;
	margin-top: 0px;
}
