/*** 420_caption2 ***/
@use "theme" as *;

.ui-cptn2 {
} 

/*-- alg substyle --*/
.ui-cptn2-alg {
	font-size: large;
	background: $header-bg;
	color: $title-color;
	margin-top: 0px;
}

/*-- pnl substyle --*/
.ui-cptn2-pnl {
	font-size: large;
	background: $header-bg;
	color: $title-color;
	margin-top: 0px;
}
