/*** CaptionedHeader ***/
@import "variables";

.ui-chdr {
	width: 100%;
	margin-top: 10px;
/*	margin-bottom: 10px; */
	border-bottom: 2px solid $bg_ttl_end;
}
.ui-chdr td{
	padding: 0;
}
.ui-chdr-ttl {
	color: $bg_ttl_text;
	background-color: $bg_ttl_end;
	padding: 2px 10px 2px 10px;
	white-space: nowrap;
	@include border-radius(2px 2px 0px 0px);
}
.ui-chdr-ttl img {
	padding-right: 10px;
}
.ui-chdr-l {
	width: 10px;
	margin: 0;
}
.ui-chdr-c {
	width: 1%;
	overflow: visible;
}
