.ui-cbis {
	display: inline;

	.ui-cbis-c {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.ui-cbis-p {
			padding-right: 10px;
			display: flex;
			align-items: center;
		}

		.ui-cbis-p .ui-cbis-lbl1st {
			margin-right: 4px;
		}

		input, span, label {
			vertical-align: middle;
		}
	}
}


