/*** ComboComponentBase2: replacement for select control ***/
@import "variables";
.ui-cbb2 {
	display: inline-flex;
	position: relative;
	vertical-align: top;

	&:not(.is-multiple) {
		height: 2.25em;

		&:not(.ui-cbb2-ro)::after {
			@include arrow($input-arrow);

			margin-top: -0.375em;
			right: 1.125em;
			top: 50%;
			z-index: 4;
		}
	}

	// States
	&:hover {
		&::after {
			border-color: $input-hover-color;
		}
	}

	&.ui-input-err select {
		background-color: $errors_input_background;
	}

	select {
		@include ui-input-base;
		@include ui-control-base;
		border-color: $input-border-color;
		cursor: pointer;
		display: block;
		font-size: 1em;
		outline: none;

		&::-ms-expand {
			display: none;
		}
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}
		&[disabled]:hover {
			border-color: $input-disabled-border-color;
		}

		&:not([multiple]) {
			padding-right: 2.5em;
		}

		&[multiple] {
			height: unset;
			padding: 0;

			option {
				padding: 0.5em 1em;
			}
		}
    }

	&.ui-cbb2-ro {
		@include ui-control-base;
	}
}
