@import 'variables';

//-- Everything uses border-box model
html {
	font-family: $font-family;
	font-size: $font-size;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
*, *:after, *:before {
	box-sizing: inherit;
}

body, html {
	height: 100%;
	margin: 0;
	background: $bg_color;
}

body {
	font-family: $font-family;
	font-size: $font-size;
	padding: 0;
	margin: 0;
	height: 100%;
}

button img {
	vertical-align: bottom;
}

button {
	vertical-align: bottom;
}

// jal removed: should only be styled INSIDE controls by classes. Most moved to _text.scss.
//input, textarea, select {
//	@extend .ui-beveled-border;
//	margin: 0 2px 2px 0;
//	padding: 0 2px 0 2px;
//	font-size: $font-size;
//	font-family: $font-family;				// 20170913 Needed because this is unset in the browser??
//
//	-moz-border-radius: 2px;
//	border-radius: 2px;
//	-webkit-border-radius: 2px;
///*	line-height: 17px; 20170911 removed because it makes it impossible to align baselines. jal 20150121 Experimental: Ie 10 (what else) does not render descenders of letters in input box. */
//}

textarea {
	line-height: normal;
	white-space: pre-wrap;
}

textarea[readonly="readonly"] {
	background-color: transparent;
}

input[type=checkbox] {
	border: 0;
	padding-left: 0px;
	padding-top: 2px;
}

//input[type=file] {
//	padding: 0px !important;
//	cursor: pointer;
//}
//
//input[type=file]::-ms-value {
//	@include ui-beveled-border;
//	padding: 0;
//}
//
//input[type=file]::-ms-browse {
//	border: 0;
//}
//
//input[type=file]::-webkit-file-upload-button {
//	cursor: pointer;
//}

//input[type="text"], input[type="password"] { 20170911 Messes up baseline alignment between form label and form input
//	height: 16px;
//}

//input:hover, textarea:hover, select:hover {
//	border-color: $bevel_hover_up $bevel_hover_down $bevel_hover_down $bevel_hover_up;
//}

select {
	background-color: #FFFFFF;
	height: 18px;
}

/*** HTML entities ***/
pre {
	font-family: $fixed_font_family;
	font-size: $fixed_font_size;
}

td {
	/*	padding: 1px; jal 20150317 This messes up everything that needs perfect alignment. */
}

td input, td select, td label {
	vertical-align: top;
}

div {
	vertical-align: top;
}

.ui-content {
	padding: 10px;
}

.ui-clickable {
	cursor: pointer;
}

.ui-selection-disable {
	-ms-user-select: none; /* IE 10+ */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/*** HTML formatting ***/
p {
	margin: 5px 0px;
	display: block;
}

h1, h2, h3, h4, h5 {
	margin: 10px 0px 5px 0px;
}

h1 {
	font-size: 150%;
	font-weight: bold;
	border-bottom: 1px solid #777;
}

h2 {
	font-size: 130%;
	font-weight: bold;
}

h3 {
	font-size: 110%;
	font-weight: bold;
}

h4 {
	font-style: italic;
}

ul {
	list-style: disc outside;
	padding: 0px 20px;
}

ol {
	list-style: decimal outside;
	padding: 0px 20px;
}

li {
	margin: 4px 4px;
	padding: 3px 0px;
}

code {
	white-space: pre;
	font-family: $fixed_font_family;
	font-size: 11px;
	background-color: #ddd;
	display: block;
	border: 1px dotted #000;
	padding: 4px;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

.listtbl {
	background: white;
}

.listtbl TD {
	padding: 1px 2px;
	border-left: 1px solid #aaaaaa;
	vertical-align: top;
	line-height: 130%;
}

.listtbl THEAD TH {
	font-weight: bold;
	padding: 3px;
	border-left: 1px solid #7c7c7c;
	text-align: left;
}
