/*** 400_datacelltable.frag.css ***/
@import "derived-variables";

.ui-dct {
}

.ui-dct-item {
	border: 1px solid transparent;
}

.ui-dct-selected {
	background-color: cyan;
	border: 1px solid $dct-selected-border;
}
.ui-dct td {
	vertical-align: top;
}
