/*** Result table pager ***/
@import "variables";

.ui-dp {
	margin-top: 8px;
	margin-left: 4px;
	padding: 0;
}
.ui-dp-txt {
	float: right;
}
.ui-dp-txt img {
	vertical-align: bottom;
	padding-left: 8px;
}
.ui-dp-btns {
	margin-left: -9px;
}

.ui-dp-btns a {
	height: $data_pager_icon_size_y;
	width: $data_pager_icon_size_x;
	display: inline-block;
	padding: 0px;
	margin-left: -3px;
	outline: 0; 				/* btadic 20120712: Removing dotted border form focused button */
	background: url($data_pager_icons) no-repeat;
}
.ui-dp-nav-prg {
}

.ui-dp-nav-pgr-ovf {
}

.ui-dp-btns a.ui-dp-nav-f {
	background-position: 0px 0px;
}
.ui-dp-btns a.ui-dp-nav-f:HOVER {
	background-position: 0px -$data_pager_icon_size_y;
}
.ui-dp-btns a.ui-dp-nav-f-dis {
	background-position: 0px -2 * $data_pager_icon_size_y;
}

.ui-dp-btns a.ui-dp-nav-p {
	background-position: -1 * $data_pager_icon_size_x 0px;
}
.ui-dp-btns a.ui-dp-nav-p:HOVER {
	background-position: -1 * $data_pager_icon_size_x -1 * $data_pager_icon_size_y;
}
.ui-dp-btns a.ui-dp-nav-p-dis {
	background-position: -1 * $data_pager_icon_size_x -2 * $data_pager_icon_size_y;
}

.ui-dp-btns a.ui-dp-nav-n {
	background-position: -2 * $data_pager_icon_size_x 0px;
}
.ui-dp-btns a.ui-dp-nav-n:HOVER {
	background-position: -2 * $data_pager_icon_size_x -1 * $data_pager_icon_size_y;
}
.ui-dp-btns a.ui-dp-nav-n-dis {
	background-position: -2 * $data_pager_icon_size_x -2 * $data_pager_icon_size_y;
}

.ui-dp-btns a.ui-dp-nav-l {
	background-position: -3 * $data_pager_icon_size_x 0px;
}
.ui-dp-btns a.ui-dp-nav-l:HOVER {
	background-position: -3 * $data_pager_icon_size_x -1 * $data_pager_icon_size_y;
}
.ui-dp-btns a.ui-dp-nav-l-dis {
	background-position: -3 * $data_pager_icon_size_x -2 * $data_pager_icon_size_y;
}
