/*** 140_datatable.frag.css ***/
/*** DataTable default style ***/
@import "_variables";
@import "_color";

div.ui-dt {
	overflow: auto;
	position: relative;
}

div.ui-dt > table > tr > td {
	border: 0;
	margin: 0;
	padding: 0px 3px;
	border-left: none;
	height: 19px;
	vertical-align: middle;
}

div.ui-dt > table {
	overflow: auto;
	position: relative;
	border-collapse: collapse;
	border-spacing: 2px;
	//width: 100%; jal 20171023 Let table default to 100% in Java, so that we can easily override it
	border: 1px solid #bdbdbd;

	margin: 0;
	padding: 0;
}
.ui-dt tbody tr {
	height: 30px;
	border-bottom: 1px solid #ebebeb;
}

.ui-dt th, .ui-dt-hdr {
	padding: 0px 3px;
	color: white;
	text-align: left;
	height: 22px;
	vertical-align: middle;
	font-weight: normal;

	background: $data_tbl_header_bg;
	border-left: none !important;
	border-right: none;
	border-bottom: none;
	border-right: none;
}

.ui-dt th:FIRST-CHILD, .ui-dt-hdr:FIRST-CHILD {
	border-left: 1px solid $data_tbl_header_btm_border !important;
	border-top: 1px solid $data_tbl_header_btm_border !important;
}

.ui-dt th:LAST-CHILD, .ui-dt-hdr:LAST-CHILD {
	border-right: 1px solid $data_tbl_header_btm_border;
}

.ui-dt tbody tr > td.ui-f-lbl:first-child {
	min-width: 150px;
	margin-left: 10px;
}

.ui-dt-row > td > span {
	padding: 0 4px;
}
.ui-dt-row > td {
	padding: 0 4px;
}

.ui-dt-nores {
	padding: 0px 0px 10px 0px;
	font-style: italic;
}

.ui-odd {
}

.ui-even {
	background: transparent;
}

tr.ui-rowsel {
	cursor: pointer;
}
tr.ui-rowsel:hover {
	/*	border: 1px solid #ffd55a !important; */
	outline: 1px solid #ffd55a;
	outline-offset: -1px;
	background-color: #fff4d3 !important;
	border-bottom: 1px solid transparent;
}

td.ui-cellsel {
	cursor: pointer;
	color: $link_color;
}

td.ui-cellsel:hover {
	text-decoration: underline;
	background-color: $data_tbl_cell_highlight_bg !important;
	color: $data_tbl_cell_highlight_link_color_bg;
}

th.ui-sortable {
	cursor: pointer;
}

div.ui-sortable {
	position: relative;
}

.ui-sortable img {
	top: -3px;
	position: absolute;
	border: 0px;
}

.ui-sortable span {
	margin-left: 10px;
}

.ui-dt {
	font-size: $data_tbl_font_size;
	/*	height: 100%; jal 20150717: this cannot work: all tables now overflow whatever they are contained in. */
}

.ui-dt-separator {
	background: url('hr-blue.png') no-repeat;
	padding: 1px;
}

.ui-dt .mselected, .ui-dt .selected {
	background-color: $highlight2_bg; /* 20110217 jal OptimalDeltaRenderer goes wrong when setting this @ 1st select.... Leave for now. */
}
