/*** 400_datacelltable.frag.css ***/
@use "theme" as *;

.ui-dct {
}

.ui-dct-item {
	border: 1px solid transparent;
}

.ui-dct-selected {
	background-color: $dct-selected-bg;
	border: 1px solid $dct-selected-border;
}
.ui-dct td {
	vertical-align: top;
}
