/*** New default button, uses sliding doors and a single bg image ***/
@import "variables";

/** See http://css3buttongenerator.com/ for inspiration */
.ui-sdbtn {
	background: $button-top-color;
	background-image: -webkit-linear-gradient(top, $button-top-color, $button-bottom-color);
	background-image: -moz-linear-gradient(top, $button-top-color, $button-bottom-color);
	background-image: -ms-linear-gradient(top, $button-top-color, $button-bottom-color);
	background-image: -o-linear-gradient(top, $button-top-color, $button-bottom-color);
	background-image: linear-gradient(to bottom, $button-top-color, $button-bottom-color);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 3px;
	font-family: $font-family;
	color: #ffffff;
	font-size: $button-font-size;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	border: 0;

	cursor: pointer;
	overflow: visible; /* remove extra padding in IE */
	outline: none;
	vertical-align: top;
	transition: all 0.4s ease-in-out;
}

.ui-sdbtn:hover, .ui-sdbtn:focus {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, $button-focus-top-color, $button-focus-bot-color);
	background-image: -moz-linear-gradient(top, $button-focus-top-color, $button-focus-bot-color);
	background-image: -ms-linear-gradient(top, $button-focus-top-color, $button-focus-bot-color);
	background-image: -o-linear-gradient(top, $button-focus-top-color, $button-focus-bot-color);
	background-image: linear-gradient(to bottom, $button-focus-top-color, $button-focus-bot-color);
	text-decoration: none;
	box-shadow: 0 5px 15px $button-focus-glow-color;
}

@-moz-document url-prefix() { /** btadic 20120711 Firefox is adding strange left padding to the buttons **/
	.ui-sdbtn {
		margin-left: -2px;
	}
}

.ui-sdbtn img {
	padding-right: 3px;
	padding-top: 1px;
	vertical-align: middle;
	height: 16px;
}
.ui-sdbtn-icon {
	font-size: $button-icon-fontsize !important;
	padding-right: 3px;
}
.ui-sdbtn::-moz-focus-inner {
	border: none; /* overrides extra padding in ffox */
}
.ui-sdbtn-txt {
	vertical-align: middle;
}

/* support for disabled attribute */
.ui-sdbtn[disabled], .ui-sdbtn[disabled]:hover, .ui-sdbtn[disabled]:focus {
	background: $button-disabled-color;
	box-shadow: none;
	cursor: not-allowed;
}
//.ui-sdbtn[disabled], .ui-sdbtn[disabled]:hover .ui-sdbtn-w, .ui-sdbtn[disabled]:focus .ui-sdbtn-w {
//	background: $button-disabled-color;
//}

/*** DefaultButton in 'mini' mode ***/
.ui-sdbtn-mini {
	height: 16px;
	position: relative;
	top:1px;
	border: 0;
	padding: 0 8px 0 0;
	margin: 0 4px 0 0;
	vertical-align: top;
	cursor: pointer;
	overflow: visible; /* remove extra padding in IE */
	//background: transparent url($button_img) no-repeat -7px -4px;
	outline: none;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

@-moz-document url-prefix() { /** btadic 20120711 Firefox is adding strange left padding to the buttons **/
	.ui-sdbtn-mini {
		margin-left: -2px;
	}
}

.ui-sdbtn-mini img {
	padding-right: 3px;
	vertical-align: middle;
	height: 16px;
}
.ui-sdbtn-mini::-moz-focus-inner {
	border: none; /* overrides extra padding in ffox */
}
.ui-sdbtn-mini .ui-sdbtn-w {
	position: relative;
	display: block;
	white-space: nowrap;
	height: 16px;
	padding: 0 0 0 6px;
	color: white;
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Google Chrome only - fix margins */
	.ui-sdbtn-mini .ui-sdbtn-w {
		margin-top: -1px;
	}
}
.ui-sdbtn-mini:hover, .ui-sdbtn-mini:focus {
	background-position: -7px -104px;
}

/* support for disabled attribute */
.ui-sdbtn-mini[disabled], .ui-sdbtn-mini[disabled]:hover, .ui-sdbtn-mini[disabled]:focus {
	background: $button-disabled-color;
}

/** placement in button bar **/
.ui-buttonbar .ui-sdbtn {
	margin-right: 10px;
}
