@use "theme" as *;

/*** InternalParentTree popup ***/
.ui-ipt {
	z-index: 200;
	position: absolute;
	top: 20px;
	left: 80px;
	width: 500px;
	height: 200px;
	background-color: $ipt-bg;
	border: 4px solid $ipt-border;

	.ui-ipt-link {
		//text-decoration: underline;
		color: $ipt-link-color;
		cursor: pointer;
	}

	.ui-ipt-icon {
		padding-right: 8px;
	}
}
.ui-ipt-ttl {
	background-color: $ipt-title-bg;
	font-size: large;
	color: $ipt-title-color;
}
.ui-ipt-list {
	overflow: auto;
	height: 170px;
}
.ui-ipt-item {
	background-color: $ipt-bg;
	padding: 3px;
	border-bottom: 1px dotted $ipt-item-border;
	color: $ipt-color;
	white-space: nowrap;
}
.ui-ipt-btn {
	cursor: pointer;
	padding: 0px 4px;
}
