/*** EmbeddedCode ***/
.ui-embcd {
	display: inline-block;
	vertical-align: baseline;
	border: 1px dotted #eee;
	padding: 1px;

	font-family: "Courier New", Courier, "Lucida Console", Monaco, monospace;
}
