/*** ErrorMessageDiv helper for components that handle their error display ***/
@use "theme" as *;

.ui-emd {
	background-color: $errors-wash;
	color: $errors-color;
	border-color: 1px solid $errors-border;
}
.ui-emd-msg {
	background: no-repeat 10px;
	padding-left: 24px;
	background-size: 11px 11px;
}
.ui-emd-info {
	background-color: $info-bg;
	background-image: url(mini-info.png);
	color: $info-color;
	border-color: 1px solid $info-border;
}
.ui-emd-error {
	background-image: url(mini-error.png);
}
.ui-emd-warning {
	background-color: $warnings-bg;
	background-image: url(mini-warning.png);
	color: $warnings-color;
}
