/*** 160_errorpanel.frag.css ***/
@use "theme" as *;

.ui-err-outer {
	padding: 1px;
	margin-bottom: 5px;
}

.ui-err-caption {
	padding: 2px 4px 2px 4px;
	font-weight: bold;
	background: url(bg-errors.png) repeat-x bottom;
}
.ui-err-cont {
	position: relative;
	border: none;
	color: $errors-color;
	padding: 2px;
}

.ui-input-err, .ui-input-err textarea {
	background-color: $errors-input-bg !important;
}
