/*** ErrorMessageDiv helper for components that handle their error display ***/
@use "theme" as *;

.ui-emd {
	background-color: $emd-error-bg;
	color: $emd-error-color;
	border-color: 1px solid $emd-error-border;
}
.ui-emd-msg {
	background: no-repeat 10px;
	padding-left: 24px;
	background-size: 11px 11px;
}
.ui-emd-info {
	background-color: $emd-info-bg;
	background-image: url(mini-info.png);
	color: $emd-info-color;
	border-color: 1px solid $emd-info-border;
}
.ui-emd-error {
	background-image: url(mini-error.png);
}
.ui-emd-warning {
	background-color: $emd-warning-bg;
	background-image: url(mini-warning.png);
	color: $emd-warning-color;
}
