/*** Flare component. ***/
@use "theme" as *;

.ui-flare {
	position: absolute;
	bottom: 10px;
	right: 10px;
	top: auto;
	left: auto;
	min-width: 400px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	opacity: 0.9;

	//top: 100px;
	//left: 100px;
	//width: auto;
	//height: auto;

	z-index: 9999;
	padding: 15px;
}
.ui-flare-img {
	flex: 1;
}
.ui-flare-txt {
	flex: 10;
	font-weight: normal;
	text-align: left;
}

//.ui-flare-msg {
//	display: flex;
//	flex-direction: column;
//	justify-content: flex-start;
//	opacity: 0.9;
//	position: absolute;
//	bottom: 10px;
//	right: 10px;
//	top: auto;
//	left: auto;
//}

.ui-flare-error {
	background: $errors-wash;
	color: $errors-color;
	border: 1px solid $errors-border;
}
.ui-flare-info {
	background: $info-bg;
	color: $info-color;
	border: 1px solid $info-border;
}
.ui-flare-warning {
	background: $warnings-bg;
	color: $warnings-color;
	border: 1px solid $warnings-border;
}
.ui-flare-msg img {
	margin-right: 20px;
}
.ui-flare-msg div {
}
.ui-flare-msg div div {
	font-size: 14pt;
	
}
