@import "variables";

/*** Window and FloatingDiv styles. ***/
.ui-flw {
	padding: 0;
	margin: 0;
	background: #f5f6f7 50px 0px;
	border: 1px solid #aaa;
	/*	overflow: hidden;	*/
	/*	top: 5%;
		left: 50%; */
}

.ui-flw-ttl {
	height: 1.5em;
	padding: 3px 3px 3px 8px;
	border-bottom: 1px solid #aaa;
	font-size: 140%;
	line-height: 20px;
}

.ui-flw-ttl-icon {
	margin-right: 5px;
}

.ui-flw-c {
	padding: $vertical-padding $horizontal-padding;
	/*?  padding: <%= margins_main %>; */
	margin: 0;
	overflow: auto;
	background-color: white;
	border-bottom: 1px solid #aaa;
}

.with-tab-panel-on-top .ui-flw-ttl {
	border-bottom: none;
}

.with-tab-panel .ui-flw-c,
.with-tab-panel-on-top .ui-flw-c {
	padding: 0px;
}

.ui-flw-tc {
	width: 100%;
	height: 0px;
}

.ui-flw-tc .ui-buttonbar {
	/*?  margin: <%= margins_main %>; */
	margin-bottom: 0px;
}

.ui-flw-bc {
	width: 100%;
}

.ui-flw-bc .ui-bb-middle {
	/*?  padding: 5px <%= margins_main %> <%= margins_main %> <%= margins_main %>; */
	text-align: right;
}

.ui-flw-hider {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: black;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.ui-flw-btn-close {
	padding: 0px;
}

.ui-flw .ui-emd {
	/*?<%= margins_neutralize %>*/
}

.ui-flw .ui-f4-lbl {
	color: #666666;
}
