/*** 500_form4 styles and repair styles for components. ***/
@import "_variables";

/*
 * Links to documents describing some of the issues
 * Aligning baselines of label and input
 * - https://stackoverflow.com/questions/3098831/aligning-the-baseline-of-field-labels-with-the-baseline-of-text-in-text-inputs
 */

.ui-f4 {
}
table.ui-f4 td.ui-lui-v {
	vertical-align: top;
}

.ui-f4-lbl {
	white-space: nowrap;
	color: #666666;
}
td.ui-f4-lbl-v {
	text-align: left;
	min-width: 150px;
	width: 150px;
	vertical-align: top;
}
.ui-f4-lbl-v label {
	display: block;						// Chrome aligns the label on the td baseline without this, causing 1px diff
	line-height: $form-line-height;		// Important: this defines where the baseline is! Mirror the same setting on input.
	padding-top: 1px;					// Inputs have 1px border; mirror that here so that the tops align
}

//.ui-f4-ctl-v {
//	input, textarea {
//		line-height: $form-line-height;
//		padding: 0;
//		margin: 0;
//	}
//}

.ui-f4-ctl-v .ui-lui-val-txt {
	padding-top: 1px;					// Non-input values need top padding
	line-height: $form-line-height;		// And the same height to align
}

.ui-f4-ctl-v {
	padding: 0px 0px 0px 4px;
}

.ui-f4-h {
	margin-bottom: 10px;
}
.ui-f4-lbl-h {
	padding: 0 4px;
}
.ui-f4-ctl-h {
	padding: 0 4px;
}


.ui-f4-ctl {
	textarea {
		font-family: $font-family;
		font-size: $font-size;
		display: block;					/* jal 20151011 chrome textarea is two pixels at bottom too large. */
	}
}

.ui-f4-ctl-v {
	padding-bottom: 8px;
}

//.ui-f4 .ui-f4-ta {				jal 20170911 No longer needed
//	vertical-align: top !important;
//	padding-top: 5px;
//}

/*-- overrides --*/
.ui-f4 .ui-ro {
	border: none;
	color: black;
}
.ui-f4 select {
	text-indent: 0px;
}
.ui-f4 select.ui-ro {
	-webkit-appearance: none;
 	-moz-appearance: none;
 	text-indent: 0px;
 	text-overflow: '';
	appearance: none;
	padding: 0px;
	margin: 0px;
}
/* hides the arrow down button on the select box in IE */
.ui-f4 select.ui-ro::-ms-expand {
	display: none;
}

label.ui-f4-mandatory {
/*	display: inline-block; */
	padding-left: 12px;
	background: url(mandatoryField.png) no-repeat left;
}

.ui-f4-line {
	line-height: $form-line-height;
}
