/*** Form5 responsive form using flexbox ***/
$form-label-color: #363636 !default;

.ui-f5 {
}

.ui-f5-pair {
}

/*-- horizontal forms --*/
.ui-f5-h {
	display: flex;
	flex-direction: row;
	justify-items: flex-start;
}

.ui-f5-pair-h {
	display: inline-block;
	margin: 0 10px 8px 0;
}
.ui-f5-lbl > label {
	color: $form-label-color;
	font-weight: $form-label-weight;
}

/*-- vertical forms --*/
.ui-f5-v {
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
}
.ui-f5-lbl-v {
	display: inline-block;
	min-width: $form-label-width;
}

.ui-f5-pair-v {
	display: flex;
	flex-direction: row;
	justify-items: flex-start;
	margin: 5px 0;
}
