/*** HamburgerMenu fragment ***/
@import "variables";
.ui-hmbrg-menu {
	position: absolute;
	right: 0px;
	z-index: 100;
	width: auto;
	background: $surface-bg;
	border: 2px groove $line-color;
	font-size: 11px;
	color: $surface-color;
}
.ui-hmbrg-item {
	border: 1px solid transparent;
	padding: 2px 5px;
}
.ui-hmbrg-item:hover {
	background-color: $menu-hover-bg;
	border: 1px solid $menu-hover-border;
	cursor: pointer;
}
.ui-hmbrg-disabled {
	border: 1px solid transparent;
	padding: 2px 5px;
	color: grey;
}
.ui-hmbrg-disabled:hover {
	background-color: $surface-bg;
	border: 1px solid transparent;
	cursor: auto;
}
