/*** ImageSelectControl ***/


.ui-isct {
	white-space: nowrap;
	display: inline-flex;
	position: relative;

	.ui-isct-cont {
		display: inline-block;
		position: relative;
		border: 1px solid $input-border-color;
		border-radius: 0.25em;
	}

	input[type="file"] {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		margin: 0;
		padding: 0;
		height: 100%;
		font-size: 20px;
		cursor: pointer;
		opacity: 0.0;
		filter: alpha(opacity=0);
		overflow: hidden;
	}
}
.ui-isct-form input, .ui-isct .ui-sib {
	vertical-align: baseline;
}
.ui-isct-form {
/*	display: inline-block; jal 20171120 Makes the form too long */
}
