/*** LinkButton component. ***/
@import "variables";

.ui-lbtn {
	color: inherit;
	display: inline-block;
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;

	.ui-lnkb-icon {
		padding-right: 5px;
		color: black;
	}

	&.ui-disabled {
		&, & .ui-lbtn-txt {
			text-decoration: none !important;
			font-style: italic;
			cursor: default;
			color: gray;
		}
		& .ui-lbtn-icon {
			color: gray;
		}

		& img {
			filter: grayscale(1);
		}
	}

	img {
		vertical-align: middle;
	}
	.ui-lbtn-icon {
		padding-right: 5px;
		color: black;
	}

	.ui-lbtn-txt {
		color: $link-color;

		&:hover {
			text-decoration: underline;
		}
		font-size: $font_size;
		height: 16px;
	}
}
