/*** LookupForm ***/
.ui-lf-coll {
	padding-bottom: 10px;
}

table.ui-lf-st, table.ui-lf-st > tbody > tr {
	padding: 0;
	margin: 0;
}

table.ui-lf-st {
	border-spacing: 0;
}

/*** Button bar ***/
div.ui-lf-ebb {
	margin-top: 8px;
	padding-bottom: 8px;
}

div.ui-lf-ebb button, div.ui-lf-coll button {
	margin-bottom: 2px !important;
	margin-right: 10px;

}

/*** Layout for table with input data in two, or more, rows ***/
table.ui-lf-multi > tbody > tr > td {
	padding-left: 100px;
	white-space: nowrap;
}

table.ui-lf-multi > tbody > tr > td:first-child {
	width: 1px;
	padding-left: 0px !important;
}

/*** Standard table with inputs style - prompt and input cells table kind ***/
table.ui-lf-st tr > td.ui-f-lbl:first-child,
.ui-lf-multi table tr > td.ui-f-lbl:first-child {
	min-width: 150px;
	width: 1%;
}

table.ui-lf-st input.ui-ro,
table.ui-lf-st input.ui-ro:hover {
	text-align: left !important;
}

