/*** LookupInput ***/
@import "variables";

$lui-min-width: 14em;




.ui-lui {
	display: inline-flex;

	input {
		@include ui-input-base;
		margin: 0;
	}

	&.ui-input-err input {
		background-color: $errors_input_background;
	}
}

//div.ui-lui {
//	width: 12em; 	/*	this width match with date field picker icon on IE rendering */
//	display: inline-block;
//}
//div.ui-lui > table { jal 20170916 do not address table.
//	width: 1%;
//}

.ui-lui-selected-ro tbody {
	background-color: $readonly_bg;
}

.ui-lui-v {
	@include ui-input-base;
	min-width: $lui-min-width;
	height: auto;
	//
	//line-height: $form-line-height;
	//
	//padding: 0px;
	//margin: 0px;
	//width: 100%;
	//min-width: $lui-min-width;
	//white-space: pre;
	//
	background: #f2f9fe; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f2f9fe 0%,#d6f0fd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f2f9fe 0%,#d6f0fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.ui-lui-empty {
	@include ui-input-base;
	min-width: $lui-min-width;

	background: #f2f9fe; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f2f9fe 0%,#d6f0fd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f2f9fe 0%,#d6f0fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

//.ui-lui-v > div { 20170913 makes input have trailing space
//	min-width: 104px;
//}

.ui-lui-vcell {
	min-width: 100px;
	width: 99%;
	//padding: 2px 5px 2px 2px;  20170927 No, causes misalignment of baseline
	vertical-align: top;
}

//.ui-lui-btntd {
//	vertical-align: top;
//}
//
//// The single "lookup" button td for an open quicksearch
//.ui-lui-btn-c {
//	text-align: left;
//	white-space: nowrap;
//
//	border: 1px solid $bevel_down;
//	border-top: 1px solid $bevel_up;
//	border-left: none;
//
//	padding: 3px 2px;
//	width: 21px;
//	height: calc(1em + 9px);
//}
//
//// The single td containing 2 buttons to lookup and clear, sigh.
//.ui-lui-btncell {
//	min-width: 38px;
//
//	button {
//		margin: 4px;
//	}
//}

.ui-lui.ui-input-err {
	.ui-lui-empty, .ui-lui-v, .ui-lui-keyword, .ui-srip-keyword {
		background: $errors_input_background;
	}
}

div.ui-lui-selected-ro {
	//border: $readonly_border solid 1px; /* same border color as one used for ui-dspv fields */
	border: none !important;
	margin-bottom: 0;
}

div.ui-lui-selected-ro td {
	padding: 0;
}

/*
 * Add a 2 pixel padding on top so that the "no selection" text takes the same relative position
 * as the text in an "input" box. This ensures that form label and control's text baseline are
 * at the same height.
 */
.ui-lui-val-txt {
	display: inline-block;
	padding: 2px 0 0 0;
}

.ui-ro .ui-lui-v {
	white-space: nowrap;
}

/** Keyword part: the input when there is no selection **/
input.ui-lui-keyword, input.ui-srip-keyword {
	//display: block;
	@include ui-input-base;
	min-width: $lui-min-width;
	border-radius: 0;					// Make this square, as the icons have difficulty being rounded.
}
img.ui-lui-waiting {
	position: absolute;
	top: 2px;
	right: 2px;
}

/* The small popup showing the result count or the no results message */
/*
 * About popups: the popups work by positioning themselves (position: absolute) and
 * use a z-index to pop over the content. In tables this ONLY works when:
 * - the table cell has NO position/z-index.
 * - there is a div in the table cell with position: relative which contains the real content AND the
 *   div that will become the popup. In here those are the classes ui-lui-kwsi and ui-srip in _searchInput2.scss.
 * - the popup cell has display: block/inline, position: absolute and z-index higher.
 * See fiddle https://jsfiddle.net/fjalvingh/jmd0ycta/ for example.
 */
.ui-lui-srip {
	position: relative;

	input {
		min-width: $lui-min-width;
		background-position: 8px 8px;
	}

	@include ui-loading-base;
	//& input {
	//	z-index: 2;				// Needed because hover sets z-index 2
	//}
}

//.ui-lui-kwsi input {
//	@include ui-input-base;
//}

.ui-lui-kwsi input {
	min-width: $lui-min-width;
}

.ui-lui-popup {
	position: absolute;
	top: 20px;
	left: 0px;
	width: auto;
	border-radius: 4px;
	padding: 5px;
	z-index: 10;
}
.ui-lui-result-none, .ui-lui-result-large {
	background-color: $lui-warning-color;
	border: 1px solid $lui-warning-color-border;
}
.ui-lui-result-count {
	background-color: $lui-result-color;
	border: 1px solid $lui-result-color-border;
}

.ui-lui-keyword-popup {
	position: absolute;
	left: 0px;
	top: 18px;
	background-color: white;
	border: 1px solid gray;
	width: 402px;
	overflow: hidden;
	margin-bottom: 10px;
}

tr.ui-keyword-popop-rowsel {
	cursor: pointer;
	background-color: $highlight2_bg !important;
}

tr.ui-keyword-popop-rowsel:hover {
	background-color: $highlight2_bg !important;
}

tr.ui-keyword-popup-row {
	cursor: pointer;
}


.ui-srip {
	position: relative;
	display: inline-block;
}

.ui-srip-keyword-popup {
	position: absolute;
	left: 0px;
	top: 18px;
	background-color: white;
	border: 1px solid gray;
	width: 402px;
	overflow: hidden;
}

.ui-srip-keyword {
	@include ui-input-base;
	background-position: 0px 4px;
}

tr.uixx-keyword-popop-rowsel {
	cursor: pointer;
	background-color: $highlight2_bg !important;
}

tr.uixx-keyword-popop-rowsel:hover {
	background-color: $highlight2_bg !important;
}

tr.uixx-keyword-popup-row {
	cursor: pointer;
}

/*- message block, floating over the rest of the form -*/
.ui-srip-message {
	position: absolute;
	top: 20px;
	left: 0px;
	width: auto;
	height: auto;
	border: 1px solid transparent;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 5px;
	z-index: 10;
}

.ui-srip-waiting {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 32px;
	height: 32px;
	background-color: white;
}

.ui-srip-waiting div {
	width: 16px;
	height: 16px;
	background: url(lui-keyword-wait.gif) no-repeat;
}

.ui-lui2-dlg .ui-f-in {
	padding-top: 2px;
}

.ui-lui2-dlg .ui-f-in input {
	margin: 0 !important;
}
