.ui-msgln2 {
	border-style: solid;
	border-radius: 4px;
	border-width: 2px;
	padding: 4px 0px;
	margin-top: 10px;
	margin-bottom: 4px;
	&.ui-msgln2-warn {
		border-color: $warnings_border;
		background: $warnings_transparent; /* Old browsers */
		background: linear-gradient(to bottom, $warnings_transparent 0%, $white_transparent 100%);
	}
	&.ui-msgln2-info {
		border-color: $info_border;
		background: $info_transparent; /* Old browsers */
		background: linear-gradient(to bottom, $info_border 0%, $white_transparent 100%);
	}
	&.ui-msgln2-err {
		border-color: $errors_border;
		background: $errors_transparent; /* Old browsers */
		background: linear-gradient(to bottom, $errors_transparent 0%, $white_transparent 100%);
	}
	.ui-msgln2-icon {
		float: left;
		height: 37px;
		position: relative;
		margin-top: -16px;
		margin-left: 1px;
		margin-bottom: -10px;
		img {
			height: 100%;
		}
	}
}
