/*** 180_percentageprogress.frag.css ***/
.ui-pct-rlr {
	display: inline-block;
	width: 50px;
	background: url(bg-progress.png) no-repeat -375px 0px;
	/*border-collapse: separate; */
	border: 1px solid black;
}
