/*** Pop-in panel ***/
@import "derived-variables";

div.ui-popin {
	z-index: 20;
	border: 1px dotted $popin-border;
	background-color: $popin-bg;
	margin-top: 15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.ui-popin-ttl {
	position: relative;
	top: -10px;
	left: 15px;
	border: 1px solid $popin-title-border;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: $popin-title-bg;
	padding: 3px;
	font-weight: bold;
}
