/*** jquery.ui resizable and floatingDiv styles. ***/
.ui-resizable-se {
	bottom: 1px;
	right: 1px;
	cursor: se-resize;
	height: 12px;
	width: 12px;
}
.ui-resizable-e {
	top: 0px;
	right: -5px;
	cursor: e-resize;
	height: 100%;
	width: 7px;
}
.ui-resizable-s {
	bottom: -5px;
	cursor: s-resize;
	height: 7px;
	left: 0px;
	width: 100%;
}
.ui-resizable-handle {
	display: block;
	font-size: 0.1px;
	position: absolute;
	z-index: 99999;
	
}
.ui-icon-gripsmall-diagonal-se {
	width: 16px;
	height: 16px;
	background: url(resize.png) no-repeat;
}
