/*** SelectOnePanel (part of new combobox and lookupinput2) ***/
@import "variables";

.ui-ssop {
    background-color: white;
    position: absolute;
    //top: 2.25em;
    left: 0px;
    width: auto;
    height: auto;
    border: 1px solid #666;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    z-index: 1;
}

tr.ui-ssop-row {
    cursor: pointer;
}

tr.ui-ssop-row:hover {
}

tr.ui-ssop-selected {
    background-color: $highlight2_bg !important;
}

tr.ui-ssop-row {
    cursor: pointer;
}

.ui-ssop-row td {
    white-space: nowrap;
}
