/*** SelectOnePanel (part of new combobox and lookupinput2) ***/
@use "theme" as *;

.ui-ssop {
    background-color: $ssop-bg;
    position: absolute;
    //top: 2.25em;
    left: 0px;
    width: auto;
    height: auto;
    border: 1px solid $ssop-border;
    max-height: 300px;
    overflow-y: auto;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    z-index: 6;
}

tr.ui-ssop-row {
    cursor: pointer;
}

tr.ui-ssop-row:hover {
}

tr.ui-ssop-selected {
    background-color: $highlight2-bg !important;
}

tr.ui-ssop-row {
    cursor: pointer;
}

.ui-ssop-row td {
    white-space: nowrap;
}
