/*** 145_smallimgbutton.frag.css ***/
@import "variables";
@import "derived-variables";

.ui-sib {
	padding: 0px 1px 0px 1px;
	margin: 0px;
	border: 0px;
	background: transparent;
	vertical-align: bottom;
	cursor: pointer;

	@include ui-focus-border;
}

.ui-sib img {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.ui-sib:hover {
	background-color: $header_bg !important;
}
.ui-sib:focus {
	background-color: lighten($header_bg, 20%) !important;
}

.ui-sib[disabled] {
	cursor: default;
}

.ui-sib[disabled]:hover {
	background: none !important;
}

@each $name, $pair in $colors {
	$color: nth($pair, 1);
	$color-invert: nth($pair, 2);
	&.is-#{$name} {
		background-color: $color;
		border-color: $color;
		color: $color-invert;
	}
}
