.ui-svgi {
	display: inline;
	align-self: center;

	svg {
		width: 1em;
		height: 1em;
		top: .125em;
		position: relative;
	}

	@each $name, $size in $sizes-map {
		&.is-#{$name} {
			font-size: $size;
		}
	}
}
