/*
 * The SwitchButton class's CSS.
 */
@import "derived-variables";

$swtch-border-width: 2px;
$swtch-width: 44px;			/* 60px */
$swtch-height: 25px;
$swtch-knob-size: $swtch-height - 2 * $swtch-border-width;		/* 26px */
$swtch-travel: $swtch-width / 2 - 2 * $swtch-border-width;

.ui-swtch {
	position: relative;
	display: inline-block;
	width: $swtch-width;
	height: $swtch-height;
}

.ui-swtch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.ui-swtch-sl {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $swtch-off-bg;
	-webkit-transition: .4s;
	transition: .4s;
}

.ui-swtch-sl:before {
	position: absolute;
	content: "";
	height: $swtch-knob-size;
	width: $swtch-knob-size;
	left: $swtch-border-width;
	bottom: $swtch-border-width;
	background-color: $swtch-knob-bg;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .ui-swtch-sl {
	background-color: $swtch-on-bg;
}

input:focus + .ui-swtch-sl {
	box-shadow: 0 0 1px $swtch-on-bg;
}

input:checked + .ui-swtch-sl:before {
	//-webkit-transform: translateX($swtch-knob-size);
	//-ms-transform: translateX($swtch-knob-size);
	//transform: translateX($swtch-knob-size);

	-webkit-transform: translateX($swtch-travel);
	-ms-transform: translateX($swtch-travel);
	transform: translateX($swtch-travel);
}

/* Rounded sliders */
.ui-swtch-sl.ui-swtch-rounded {
	border-radius: $swtch-height;
}

.ui-swtch-sl.ui-swtch-rounded:before {
	border-radius: 50%;
}
