$tabpanel-header-bg: #7c7c7c !default;					// The header part containing the tabs
$tabpanel-tab-bg: #aaa !default;
$tabpanel-tab-border: #555 !default;
$tabpanel-content-bg: white !default;

$tabpanel-selected-color: $tabpanel-tab-bg !default;

// See https://codepen.io/torbencolding/pen/dPvNBJ
.ui-tab-c {
}

.ui-tab-hdr ul {
	display: flex;
	list-style: none;
	//justify-content: center;
	justify-content: flex-start;
	padding: .5em 0 0 25px;
	margin: 0;
	background: $tabpanel-header-bg;

	& > li {
		margin: 0 0 0 -16px;
		padding: 0;

		& > .ui-tab-div {
			color: #fff;
			background: $tabpanel-tab-bg;
			position: relative;
			display: inline-block;
			margin: 0 22px;
			padding: 6px 10px;
			border-radius: 4px 4px 0 0;
			text-decoration: none;
			//font-size: 1.2rem;

			&:before, &:after {
				content: " ";
				position: absolute;
				top: 0;
				width: 23px;
				height: 100%;
				background-color: $tabpanel-tab-bg;
			}

			&:before {
				border-radius: 16px 0 0 0;
				transform: skew(-16deg);
				left: -16px;
				border-left: 1px solid $tabpanel-tab-border;
			}
			&:after {
				border-radius: 0 16px 0 0;
				transform: skew(16deg);
				right: -16px;
				border-right: 1px solid $tabpanel-tab-border;
				z-index: 1;
			}
		}

		&.ui-tab-sel .ui-tab-div {
			color: $tabpanel-selected-color;
			background: $tabpanel-content-bg;
			font-weight: bold;

			&:before, &:after {
				z-index: 1;
				background: $tabpanel-content-bg;
			}
		}
	}
}

/*** Close button ***/
.ui-tab-close-li span {
	display: inline-block;
	min-width: 50px;
}

.ui-tab-close-div a {
	vertical-align: middle;
}

.ui-tab-close {
	display: inline-block;
	background: url(22x11_tab-pnl-close.png) no-repeat;
	height: 11px;
	width: 11px;
	margin-left: 8px;
}

.ui-tab-close:hover {
	background-position: -11px 0px;
}

.ui-tab-content {
	padding: 10px;
	background-color: $tabpanel-content-bg;
}

//.ui-tab-pg {
//	padding: 10px;
//}
//
//.ui-tab-hdr ul {
//	list-style-type: none;
//	margin: 0;
//	padding: 0;
//}
//
//li.ui-tab-li, li.ui-tab-close-li {
//	margin: 0;
//	padding: 0;
//	border: 1px solid #777;
//	height: 25px;
//	white-space: nowrap;
//}
//
//li.ui-tab-li:hover:not(.ui-tab-sel), li.ui-tab-close-li:hover:not(.ui-tab-sel) {
//	background-color: #aaaaaa;
//}
//
//.ui-tab-hdr {
//	float: left;
//	font-family: $font-family;
//	font-size: $font-size;
//	color: black;
//	background: #f1f1f1;
//	line-height: normal;
//	width: 100%;
//}
//
//.ui-tab-hdr li {
//	float: left;
//	margin: 0;
//	padding: 0 0 0 0px;
//	cursor: pointer;
//	list-style: none;
//}
//
//.ui-tab-div {
//	display: block;
//	padding: 6px 6px 0px 6px;
//	text-decoration: none;
//	min-height: 17px;
//	color: black;
//	margin-right: 0px !important;
//}
//
//li.ui-tab-sel {
//	border-bottom: 1px solid white !important;
//	background-color: white;
//}
//
//.ui-tab-ibte {
//	height: 26px;
//	background: #f1f1f1;
//	overflow: hidden;
//	border-bottom: 1px #777 solid;
//}
//
//.ui-tab-ibt {
//	height: 26px;
//	border-bottom: 1px #777 solid;
//	width: 2px;
//}
//
//.ui-tab-ibt.ui-tab-ibt-first {
//	height: 26px;
//	border-bottom: 1px #777 solid;
//	width: 7px;
//}
//
//.ui-tab-li span {
//	display: inline-block;
//	min-width: 50px;
//}
//
///*** Close button ***/
//.ui-tab-close-li span {
//	display: inline-block;
//	min-width: 50px;
//}
//
//.ui-tab-close-div a {
//	vertical-align: middle;
//}
//
//.ui-tab-close {
//	display: inline-block;
//	background: url(22x11_tab-pnl-close.png) no-repeat;
//	height: 11px;
//	width: 11px;
//	margin-left: 8px;
//}
//
//.ui-tab-close:hover {
//	background-position: -11px 0px;
//}
