/*** Tree component ***/
@use "theme" as *;

.ui-tree .selected {
	background: $tree-selected-bg !important;
	color: $tree-selected-color;
}
TD .ui-tree .selected:hover {
	background: $tree-selected-bg !important;
	color: $tree-selected-color;
}

.ui-tree TD {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.ui-tr-act {
	cursor: pointer;
}
.ui-tr-val {
	white-space: nowrap;
	vertical-align: middle;
}
.ui-tr-val img {
	vertical-align: middle;
}
td.ui-tr-sel:hover {
	background-color: $tree-hover-bg !important;
}
td.ui-tr-sel {
	cursor: pointer;
}
td.ui-tr-selected {
	background-color: $tree-selected-bg !important;
	color: $tree-selected-color;
}

.ui-tree {
/*	height: 100%;		jal 20111025 - setting this causes trouble if tree is not alone in div.. Fixed for OldHelp browser */
}
