$body-image: "" !default;
$bg_color: #ffffff !default;

$font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
//$font-family: 'Arial', 'Helvetica', sans-serif !default;
//$font-family: 'Lato', 'Arial', 'Helvetica', sans-serif !default;
$font-size: 14px !default;
$fixed_font_family: 'Courier New, Courier, monospace' !default;
$fixed_font_size: 11px !default;
$hdr_font_size: 14px !default;

// Core padding
$horizontal-padding: 10px !default;
$vertical-padding: 10px !default;

/** colors **/
$link_color: #2200cc !default;	// dark blue

$bevel_up: #ABADB3 !default;
$bevel_down: #BFCDD9 !default;
$bevel_hover_up: #5794BF !default;
$bevel_hover_down: #D7E8F8 !default;

$readonly_bg: transparent !default;
$readonly_border: #EEEEEF !default;        // bit darker grey

$bg_ttl_gradient: "bg-ttl-domui.png" !default;
$bg_ttl_end:  #7c7c7c !default;
$bg_ttl_text: #ffffff !default;

$selected_bg: #ff9436 !default;

$highlight_bg: #ffbb43 !default; 	// row select: hard orange
$highlight2_bg: lighten($highlight_bg, 20%) !default;

/** Error, warning, info colors **/
$errors_background: #a9c5f1 !default;
$errors_border: #ff0000 !default; 			// red
$errors_foreground: #ff0000 !default;		// red

$errors_input_background: #ffe5e5 !default;	// error bg for input component

$warnings_background: #fffeee !default; // light yellow
$warnings_foreground: yellow !default;
$warnings_border: #fffeee !default;

$info_bg: #e4eeff !default;		// blueish light
$info_fg: #4075db !default;
$info_border: #4075db !default;

$header_bg: #7c7c7c !default;
$main_color: #43b761 !default; 				//Main green

$succesful-color: #84C000 !default;			// Green for checkmark

$common-hdr-color-1: #aeaeae !default;

/** data table? **/
//$data_tbl_selected_bg: #bed6f8;	// blue
//$data_tbl_even_row_bg: #E5E5E5; //greyish
//$data_tbl_cell_highlight_bg: #67267f;	// cell select: purple
//$data_tbl_cell_highlight_link_color_bg: #ffffff;	// link color of cell select: white
//$data_tbl_font_size: 12px;
//$data_tbl_expanding_row_bg: lighten($main_color, 20%);
//
//$data_tbl_header_bg: #7c7c7c;
//$data_tbl_header_text_color: #ffffff;
//$data_tbl_header_bg_img: ""; //-- Table header doesn't have background image
//$data_tbl_header_btm_border: undefined;

/** LookupInput and LookupInput2 **/
$lui-warning-color: #ff4f27 !default;				// Popup that shows 'no results'
$lui-warning-color-border: #ff8d60 !default;			// Border of that popup
$lui-result-color: #d4ee9f !default;					// Popup showing "xxxx records"
$lui-result-color-border: #a5c663 !default;			// Border of that

/** Misc **/
$io_blk_wait: "io-blk-wait.gif";			/* Icon definition for DomUI icons */


//multiple lookup labels
$multiple_lookup_label_color: #ffa21e !default;
$multiple_lookup_label_border: #fff2ab !default;

//-- ScrollableTabPanel FIXME REMOVE
$tab_pnl_inactive_col: #ffffff !default;
$tab_pnl_hover_inactive_col: #ffffff !default;
$tab_pnl_active_col: #67267f !default;
$tab_pnl_btm_border: 0px !default;
$tab_pnl_img: "tab-all-domui.png" !default;
$tab_pnl_close: "tab-pnl-close.png" !default;
$tab_pnl_close_hover: "tab-pnl-close-hover.png" !default;
$tab_pnl_sep_bg: #7c7c7c !default;
$tab_pnl_arrows: url(tab-scrl-icon.png) !default;

// TabPanel
//$tabpanel-header-bg: #7c7c7c !default;					// The header part containing the tabs
//$tabpanel-tab-bg: #aaa !default;
//$tabpanel-tab-border: #555 !default;
//$tabpanel-content-bg: white !default;
//$tabpanel-selected-color: #444 !default;

//-- Buttons
$button-top-color: #f69231 !default;
$button-bottom-color: #f6ac3d !default;
$button-focus-top-color: #f6c381 !default;
$button-focus-bot-color: #f69231 !default;
$button-focus-glow-color: rgba($button-focus-top-color, .7) !default;
$button-disabled-color: #999999 !default;
$button_height: 24px !default;
$button-font-size: 15px !default;
$button-icon-fontsize: 15px !default;

/*** Data Pager buttons ***/
$data_pager_icons: "data-pager-icons.png" !default;
$data_pager_icon_size_x: 32px !default;
$data_pager_icon_size_y: 19px !default;

/*** Forms ***/
$form-line-height:	1.5em !default;
$input-line-height: $form-line-height !default;
$form-label-color: #363636 !default;
$form-label-weight: 600 !default;
$form-label-width: 150px !default;

/***----------------- Bulma like -------------------------***/

/*** Colors ***/
$orange:       hsl(14,  100%, 53%) !default;
$yellow:       hsl(48,  100%, 67%) !default;
$green:        hsl(141, 71%,  48%) !default;
//$turquoise:    hsl(171, 100%, 41%) !default;
$turquoise:    #f69231				 !default;
$cyan:         hsl(204, 86%,  53%) !default;
$blue:         hsl(217, 71%,  53%) !default;
$purple:       hsl(271, 100%, 71%) !default;
$red:          hsl(348, 100%, 61%) !default;

$black:        hsl(0, 0%, 4%) !default;
$black-bis:    hsl(0, 0%, 7%) !default;
$black-ter:    hsl(0, 0%, 14%) !default;

$grey-darker:  hsl(0, 0%, 21%) !default;
$grey-dark:    hsl(0, 0%, 29%) !default;
$grey:         hsl(0, 0%, 48%) !default;
$grey-light:   hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;

$white-ter:    hsl(0, 0%, 96%) !default;
$white-bis:    hsl(0, 0%, 98%) !default;
$white:        hsl(0, 0%, 100%) !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

//-- Misc
$easing: ease-out !default;
$radius-small: 2px !default;
$radius: 3px !default;
$radius-large: 5px !default;
$speed: 86ms !default;

$control-padding-vertical: calc(0.375em - 1px) !default;
$control-padding-horizontal: calc(0.625em - 1px) !default;

$input-border-color: #dbdbdb !default;

//-- enumsetinput label colors
$esic-label-color: #d4f94e !default;
$esic-label-border: darken($esic-label-color, 20%) !default;
$esic-text-color: findColorInvert($esic-label-color) !default;
