/*** 002_core.frag.css ***/
/*** Core style ***/
/* Body style */
body,html {
	background: url(bg-gradient.png.svg) repeat-x;
	background-color: <%= bg_color %>;
/*	height: 100%; jal 20110221 Body height causes no end of problems with scrollbars. */
	margin: 0px;
}

/* Reset styles */
* {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: <%= font_family %>;
	font-size: <%= font_size %>;
}

input, textarea, select {
	border-color:#ABADB3 #BFCDD9 #BFCDD9;
	border-style:solid;
	border-width:1px;
	-moz-border-radius: 2px;	
	border-radius: 2px;	
	-webkit-border-radius: 2px;	
}

input, textarea {
	padding: 2px;
}

input[type=file] {
	border: 0 !important;
	padding: 0px !important;
}

input:hover, textarea:hover, select:hover {
	border-color:#5794BF #D7E8F8 #D7E8F8 #5794BF;
}

select {
	background-color:#FFFFFF;
}

pre {
	font-family: Courier New, Courier, monospace;
}

button img {
	vertical-align: bottom;
}

button {
	vertical-align: bottom;
}

.page-content {
	margin: 0px 10px;
}
