/*** 010_apptitle.frag.css ***/
/*** App Title bar ***/
.ui-atl-bb {
	white-space: nowrap;
	background-image: url(bg-caption.png.svg);
	background-repeat: no-repeat;
	width: 90%;
	text-align: right;
}

.ui-atl-i {
	background-color: <%= header_bg %>;
	padding-right: 10px;
	padding-left: 5px;
}

.ui-atl-t {
	background-color: <%= header_bg %>;
	width: 10%;
	white-space: nowrap;
	color: #123667;
	font-weight: bold;
	font-size: <%= hdr_font_size %>;
}
