/*** 120_forms.frag.css ***/
/*** Form basic styles ***/
/* these are for forms having the label BEFORE the field (horizontal). */
.ui-f-lbl {
	text-align: right;
	font-weight: bold;
	vertical-align: top;
	min-width: 150px;
}

.ui-f-in {
	vertical-align: top; /* jal 20090818 changed from top to middle to align DateInput buttons better */
	padding: 0px;
}
.ui-f-do {
	vertical-align: top; /* jal 20090818 changed from top to middle to align DateInput buttons better/20100708 jal: back to top because LookupInput causes misalignment of labels after it. */
	padding: 0px;
}

/* for forms having the label ABOVE the field (vertical stacked) */
.ui-fvs-lbl {
	font-weight: bold;
}

.ui-fvs-in {
	vertical-align: top;
}

.ui-fvs-do { /* displayonly field */
	background-color: white;
	padding: 2px;
}

/* Display-only field */
.ui-f-display {
	vertical-align: top;
	background: #eff7ff;
}

/* for forms where the label is above the edit control (vertical). */
.ui-ro {
	/*background: #eff7ff;*/
	border:1px solid <%= readonly_border %>;
	background-color: <%= readonly_bg %>;
}

.ui-ro:hover {
	/*background: #eff7ff;*/
	border:1px solid <%= readonly_border %>;
	background-color: <%= readonly_bg %>;
}
