/*** 135_expandingtable.frag.css ***/
/*** ExpandingTable ***/
.ui-xdt {
	overflow: auto;
}

.ui-xdt TH {
	text-align: left;
}

.ui-xdt-hdr {
	/* default domui table header style is still to be defined */
}

.ui-xdt-ix {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 18px;
	font-size: <%= font_size %>;
	color: #1700ee;
	text-decoration: underline !important;
}
div:hover.ui-xdt-clp {
	background-image: url(xdt-collapsed.png);
}
div:hover.ui-xdt-exp {
	background-image: url(xdt-expanded.png);
}
.ui-xdt-new {
	background-image: url(btnConfirm.png);
}

.ui-xdt-edt {
	background-color: #dffbf7;
	/*width: 99%;  */
	vertical-align: top;
	-moz-border-radius: 5px;
	border: 1px dotted #333333;
}
.ui-xdt-nores {
	padding: 10px 0px 10px 0px;
	font-style: italic;
}
