/*** 140_datatable.frag.css ***/
/*** DataTable default style ***/
div.ui-dt {
	overflow: auto;
	position: relative;
	border-spacing: 0;
}

div.ui-dt table{
	overflow: auto;
	position: relative;
	border-spacing: 0;
	border-left: 1px solid #BABABA;
}

.ui-dt th {
	background: #7c7c7c;
	text-align: left;
	font-weight: bold;
	padding: 0px 3px;
	vertical-align: top;
	font-size: <%= font_size %>;
}

.ui-dt tbody td {
	padding: 0px 3px;
	border-bottom: 1px solid #BABABA;
	border-right: 1px solid #BABABA;
}

.ui-dt-hdr {
	background: <%=	header_bg %>;
	color: white;
}

.ui-dt-nores {
	padding: 10px 0px 10px 0px;
	font-style: italic;
}

.ui-odd {
}

.ui-even {
	background-color: <%= even_bg %>;
}

tr.ui-rowsel {
	cursor: pointer;
}

tr.ui-rowsel:hover {
	background-color: <%= highlight_bg %> !important;
}

td.ui-cellsel {
	cursor: pointer;
	color: <%= link_color %>;
}

td.ui-cellsel:hover {
	text-decoration: underline;
	background-color: <%= cellhighlight_bg %> !important;
	color: <%= cellhighlightcolor_bg %>;
}

th.ui-sortable {
	cursor: pointer;
}

div.ui-sortable {
	position: relative;
}

.ui-sortable img {
	float: left;
	margin-right: 2px;
}

.ui-sortable span {
	margin-left: 8px;
}

.ui-dt {
	font-size: <%= font_size %>;
}

.ui-dt-separator {
	background: url(bg-horiz-separator.png) repeat-x center;
	padding: 1px;
}

.ui-dt .mselected {
	background-color: <%= highlight2_bg %>; /* 20110217 jal OptimalDeltaRenderer goes wrong when setting this @ 1st select.... Leave for now. */
}
