/*** Caption ***/
.ui-cptn {
	border: 1px solid <%= header_bg %>;
	padding: 2px 4px 2px 4px;
	font-weight: bold;
	background: url(bg-header.png.svg) repeat-x;
/*	margin-top: 10px; jal 20120213 removed: header should not define it's upper location, because it cannot be used at the top of a screen! */
}

