/*** 155_captionedpanel.frag.css ***/
/*** CaptionedPanel ***/
.ui-pnl-outer {
	background-color: white;
}

.ui-pnl-caption {
	padding: 2px 4px 2px 4px;
	font-weight: bold;
	font-size: 120%;
	color: <%= bg_ttl_text %>;
	background: <%= header_bg %>;
}

.ui-pnl-cont {
	position: relative;
	padding: 5px;
	border: 1px solid <%= header_bg %>;
}
