/*** ScrollableTabPanel ***/
.ui-stab-hdr {
	float: left;
	font-size: 12px;
	line-height: normal;
}

.ui-stab-hdr ul {
	margin: 0;
	padding: 8px 0px 0;
	list-style: none;
}

.ui-stab-hdr  li {
	float: left;
	margin: 0;
	padding: 0 0 0 8px;
	background: url(tab-off-left.png) no-repeat left top;
}

.ui-stab-hdr a {
	display: block;
	background: url(tab-off-right.png) no-repeat right top;
	padding: 5px 14px 4px 6px;
	text-decoration: none;
	font-weight: bold;
	color: <%= tab_fg %>;
}

.ui-stab-hdr ul a:hover {
	color: <%= tab_link_color %>;
}

.ui-stab-hdr .ui-tab-sel {
	background-image: url(tab-norm-left-sel.png);
}

.ui-stab-hdr .ui-tab-err a {
	background-image: url(tab-off-err-right.png);
}

.ui-stab-hdr .ui-tab-sel a {
	background-image: url(tab-norm-right-sel.png);
}

.ui-stab-scrl {
	border-bottom: 1px solid black;
}

.ui-stab-scrl-left {
	background: url(tab-scrl-left1.png) no-repeat transparent center;
	border:0 none;
	margin:0;
	visibility:hidden;
	display:block;
	width: 15px;
	height: 24px;	
}

.ui-stab-scrl-left:hover {
	background: url(tab-scrl-left.png) no-repeat transparent center;
	cursor: pointer;
}

.ui-stab-scrl-right {
	background: url(tab-scrl-right1.png) no-repeat transparent center;
	border:0 none;
	margin:0;
	visibility:hidden;	
	display:block;
	width: 15px;
	height: 24px;	
}

.ui-stab-scrl-right:hover {
	background: url(tab-scrl-right.png) no-repeat transparent center;
	cursor: pointer;
}
