/*** Window and FloatingDiv styles. ***/
.ui-flw {
	padding: 0;
	margin: 0;
	/*	border: 1px solid black; */
	background: url(bg-body.png) repeat-x white;
	border: 1px solid #cccccc;
	border-top: none;
	/*	overflow: hidden;	*/
	top: 5%;
	left: 50%;
	box-shadow : 10px 10px 10px #373737;
	-moz-box-shadow : 10px 10px 10px #373737;
	filter : progid:DXImageTransform.Microsoft.Shadow(color='#373737', Direction=135, Strength=7);	
}

.ui-flw-ttl {
/*	position: absolute;
	top: 0px;
	height: 20px;
	left: 0px;
	right: 0px; */
	
	height: 20px;
	padding: 0;
	padding: 2px;
	background: url(bg-float-ttl2.png) repeat-x;
	border-bottom: 1px solid #eeeeee;
	font-size: 15px;
	font-weight: bold;
}

.ui-flw-c {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
}
.ui-flw-tc {
	width: 100%;
	height: 5px;
}

.ui-flw-bc {
	width: 100%;
	height: 5px;
}

.ui-flw-hider {
	height: 100%;
	width: 100%;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: black;
	filter:alpha(opacity=50);
}

.ui-flw-btn-close {
	margin-top: -1px;
	margin-right: -2px;
}
