/*** DefaultButton (replaces old version, this one uses hover effects) ***/
.ui-dbtn {
	margin: 2px;
	background: none;
}
.ui-dbtn:HOVER, .ui-dbtn:FOCUS {
	background-position: 0px -<%= defaultbutton_height %>px;
}
.ui-dbtn[disabled] {
	background-position: 0px -<%= defaultbutton_height*2 %>px !important;
}
