/*** 235_flare.frag.css ***/
/*** Flare component. ***/
.ui-flare {
	position: absolute;
	z-index: 9999;
	top: 100px;
	left: 100px;
	width: auto;
	height: auto;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px dotted #999;
	padding: 15px;
}
.ui-flare-error {
	background: <%= errors_background %>;
	color: <%= errors_foreground %>
}
.ui-flare-info {
	background: <%= info_bg %>;
	color: <%= info_fg %>
}
.ui-flare-warning {
	background: <%= warnings_background %>;
	color: <%= warnings_foreground %>
}
.ui-flare-msg {
	opacity: 0.9;
	position: absolute;
	bottom: 10px;
	right: 10px;
	top: auto;
	left: auto;
}
.ui-flare-msg div {
	font-weight: bold;
 	text-align: right;	
 	min-width: 400px;
}
.ui-flare-msg div div {
	font-size: large;
}
