/*** 240_labelselector.frag.css ***/
/*** LabelSelector component ***/
.ui-lsel {
	display: inline-block;
	border-color:#ABADB3 #BFCDD9 #BFCDD9;
	border-style:solid;
	border-width:1px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 4px;
}
.ui-lsel-item {
	display: inline-block;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px dotted #999;
	margin: 0 2px;
	padding: 2px;
	background-color: cyan;
}
.ui-lsel-btn {
	display: inline-block;
	margin-left: 5px;
	width: 14px;
	height: 14px;
	background-image: url(lsel-delete.png);
	background-position: 14px 0;
}
.ui-lsel-btn:hover {
	background-position: 0px 0px;
	}

.ui-lsel img {
	padding-left: 5px;
	padding-bottom: 2px;
	vertical-align: middle;
}
.ui-lsel-sel input {
	border: none;
}
