/*** 255_datapager.frag.css ***/
/*** Result table pager ***/
.ui-dp {
	margin: 2px 10px 6px 14px;
	padding: 0px;
}

.ui-dp-btns a{
	height: 18px;
	width: 32px;
	display: inline-block;
	padding: 0px;
	margin-left: -3px;
	outline: 0; 				/* btadic 20120712: Removing dotted border form focused button */
	background-repeat: no-repeat;
}

.ui-dp-btns a.ui-dp-nav-f {
	background-image: url("<%= nav_btn_first_s%>");
	width: 21px;
}
.ui-dp-btns a.ui-dp-nav-f:HOVER {
	background-image: url("<%= nav_btn_first_f%>");
	width: 21px;
}
.ui-dp-btns a.ui-dp-nav-f-dis {
	background-image: url("<%= nav_btn_first_d%>");
	width: 21px;
}

.ui-dp-btns a.ui-dp-nav-p {
	background-image : url("<%= nav_btn_prev_s%>");
}
.ui-dp-btns a.ui-dp-nav-p:HOVER {
	background-image : url("<%= nav_btn_prev_f%>");
}
.ui-dp-btns a.ui-dp-nav-p-dis {
	background-image : url("<%= nav_btn_prev_d%>");
}

.ui-dp-btns a.ui-dp-nav-n {
	background-image : url("<%= nav_btn_next_s%>");
}
.ui-dp-btns a.ui-dp-nav-n:HOVER {
	background-image : url("<%= nav_btn_next_f%>");
}
.ui-dp-btns a.ui-dp-nav-n-dis {
	background-image : url("<%= nav_btn_next_d%>");
}

.ui-dp-btns a.ui-dp-nav-l {
	background-image : url("<%= nav_btn_last_s%>");
}
.ui-dp-btns a.ui-dp-nav-l:HOVER {
	background-image : url("<%= nav_btn_last_f%>");
}
.ui-dp-btns a.ui-dp-nav-l-dis {
	background-image : url("<%= nav_btn_last_d%>");
}