/*** 250_smallhoverbutton.frag.css ***/
/*** Small Hover Button ***/
.ui-smhb {
	width: 16px;
	height: 16px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	margin: 3px;
}

.ui-smhb:hover {
	background-position: 0px -16px;
}