* {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: <%= font_size %>;
	font-family: <%= font_family %>;
}

/*** Body element ***/
body,html {
	background: url(bg-body.png) repeat-x;
	background-color: #fdfefe;
	font-family: <%= font_family %>;
	font-size: <%= font_size %>;
	height: 100%; /* vmijic - changed to 100% (was 90%). Is here a reason for 90%? We have problem with splitter otherwise... */
	margin: 0px;
/*	padding: 0; margin: 0;	width: 100%; */
}

input, textarea, select {
	border-color:<%= bevel_up %> <%= bevel_down %> <%= bevel_down %>;
	border-style:solid;
	border-width:1px;
	-moz-border-radius: 2px;	
}

button img {
	vertical-align: bottom;
}
button {
	vertical-align: bottom;
}

input, textarea {
	padding: 2px;
}

input:hover, textarea:hover, select:hover {
	border-color:<%= bevel_hover_up %> <%= bevel_hover_down %> <%= bevel_hover_down %> <%= bevel_hover_up %>;
}

.ui-txx {
	vertical-align: top;
}

.ui-odd {
}

.ui-even {
	background-color: #eeeeee;
}

/*** Helper classes ***/
.no-wrap{
	white-space: nowrap;
    overflow: hidden;
}

.ui-szless {
	padding: 0px;
	margin: 0px;
}
.ui-clickable {
	cursor: pointer;
}
.ui-sup {
	font-size: xx-small;
	vertical-align: top;
}
.ui-sub {
	font-size: xx-small;
	vertical-align: bottom;
}
.ui-pre {
	white-space: pre;
}
.ui-printdiv {
	overflow: hidden;
	width: 1px;
	height: 1px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

/*** Message html codes: messages containing simple html (b, em, strong, i) are translated to contain spans with styles ui-txt-i, ui-txt-b etc ***/
.ui-txt-i {
	font-style: italic;
}
.ui-txt-b {
	font-weight: bold;
}

