/*** FloatingWindow ***/
.ui-fw {
	padding: 0;
	margin: 0;
	/*	border: 1px solid black; */
	background: url(bg-body.png) repeat-x white;
	border: 1px solid #cccccc;
	border-top: none;
	/*	overflow: hidden;	*/
	top: 5%;
	left: 50%;
}

.ui-fw-ttl {
	position: absolute;
	top: 0px;
	height: 20px;
	left: 0px;
	right: 0px;
/*	width: 100%; */
	padding: 0;
	padding: 2px;
	background: url(bg-float-ttl2.png) repeat-x;
	border-bottom: 1px solid #eeeeee;
	font-size: <%= window_title_font_size %>;
	font-weight: bold;
}

.ui-fw-c {
	width: 100%;
	position: absolute;
	top: 24px;
	bottom: 0px;
/*	height: 100%; */
	padding: 0;
	margin: 0;
	overflow: auto;
}

.ui-fw-hider {
	height: 100%;
	width: 100%;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: black;
	filter:alpha(opacity=50);
}

.ui-fw-btn-close {
	margin-top: -1px;
	margin-right: -2px;
}
