input {
}

button img {
	vertical-align: bottom;
}
button {
	vertical-align: bottom;
}

input, textarea, select {
	border-color: #abadb3 #bfcdd9 #bfcdd9;
	border-style: solid;
	border-width: 1px;
	-moz-border-radius: 2px;	
}

input, textarea {
	padding: 2px;
}

input:hover, textarea:hover, select:hover {
	border-color: #5794bf #d7e8f8 #d7e8f8 #5794bf;
}

select {
	background-color: #ffffff;
}

