input {
}

button img {
	vertical-align: bottom;
}
button {
	vertical-align: bottom;
}

input, textarea, select {
	border-color:#ABADB3 #BFCDD9 #BFCDD9;
	border-style:solid;
	border-width:1px;
	-moz-border-radius: 2px;	
}

input, textarea {
	padding: 2px;
}

input:hover, textarea:hover, select:hover {
	border-color:#5794BF #D7E8F8 #D7E8F8 #5794BF;
}

select {
	background-color:#FFFFFF;
}

