/*** AccessDeniedPage ***/
.ui-acd-ttl {
	font-size: larger;
	font-style: italic;
}

/*** InfoPanel ***/
.ui-ipa {
	padding: 4px;
	margin: 4px;
	-moz-border-radius: 5px;
	border: 1px solid #d0d0d0;
	font-style: italic;
}

/*** Explanation box ***/
.ui-expl {
	border: 2px solid #777777;
	padding: 5px;
	-moz-border-radius: 10px;
	background: url(bg-expl.png) repeat-x;
	color: black;
}

/*** AsyncContainer ***/
.ui-asc {
	text-align: center;
}

/*** SplitPanel (simple version) layout thingy ***/
.ui-sp,.ui-sp-c {
	vertical-align: top;
}

