/*** NiceButton ***/
a.ui-nbtn {
	/* display: inline-table; jal 20080711 This works proper with FF3 et al but of course not with IE7.. IE8 does work though */
	display: inline-block;
	color: white;
	background: url(threebuttons2.png) transparent no-repeat;
	width: 122px;
	height: 25px;
	margin: 3px auto;
	padding: 3px 0 0 0;
	text-align: center;
	font-size: 100%;
	font-weight: bold;
	text-decoration: none;
}

a.ui-nbtn:hover,a.ui-nbtn:active {
	background-position: 0 -34px;
	color: yellow;
}
