/*
 * DomUI "blue" stylesheet.
 */
@IMPORT url("calendar-blue2.css");

* {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: <%= font_family %>;
	font-size: <%= font_size %>;
}

input, textarea, select {
	border-color:#ABADB3 #BFCDD9 #BFCDD9;
	border-style:solid;
	border-width:1px;
	-moz-border-radius: 2px;	
}

input, textarea {
	padding: 2px;
}

input:hover, textarea:hover, select:hover {
	border-color:#5794BF #D7E8F8 #D7E8F8 #5794BF;
}

select {
	background-color:#FFFFFF;
}

.ui-txx {
	vertical-align: top;
}

/*** Select special chars ***/
.ui-oddchars {
	padding: 10px;
}

.ui-oddchars-tbl2 {
	margin-top: 15px;
}

.ui-oddchars-c {
	border: 1px solid black;
	width: 2em;
	height: 2em;
	text-align: center;
}

.ui-oddchars-c:hover {
	background-color: #ffe1bf;
}

.ui-oddchars-dt {
	border: 1px solid black;
	text-align: center;
}

.ui-oddchars-dt:hover {
	background-color: #ffe1bf;
}

/*** App Title bar ***/
.ui-atl {
	height: 40px;
}

.ui-atl-bb {
	white-space: nowrap;
	background: url(bg-new-ttl2.png) no-repeat;
	width: 90%;
	text-align: right;
}

.ui-atl-i {
	background-color: #e4e3e1;
	background: url(bg-new-ttl1.png) repeat-x;
	padding-right: 10px;
	padding-left: 5px;
}

.ui-atl-t {
	background-color: #e4e3e1;
	background: url(bg-new-ttl1.png) repeat-x;
	width: 10%;
	white-space: nowrap;
	color: #123667;
	font-weight: bold;
	font-size: <%= hdr_font_size %>;
}

/*** SplitterPanel. These style names are required by jquery.splitter.js ***/
.splitbarV {
	float: left;
	width: 6px;
	height: 100%;
	line-height: 0px;
	font-size: 0px;
	border-left: solid 1px <%= header_bg %>;
	border-right: solid 1px <%= header_bg %>;
	background: #cbe1fb url(panev.gif) 0% 50%;
}

.splitbuttonV {
	margin-top: -41px;
	margin-left: -4px;
	top: 50%;
	position: relative;
	height: 83px;
	width: 10px;
	background: transparent url(panevc.gif) 10px 50%;
}

.splitbuttonV.invert {
	margin-left: 0px;
	background: transparent url(panevc.gif) 0px 50%;
}

.splitbarV.working,.splitbarH.working,.splitbuttonV.working,.splitbuttonH.working
	{
	-moz-opacity: .50;
	filter: alpha(opacity = 50);
	opacity: .50;
}

.splitbarH {
	height: 6px;
	text-align: left;
	line-height: 0px;
	font-size: 0px;
	border-top: solid 1px <%= header_bg %>;
	border-bottom: solid 1px <%= header_bg %>;
	background: #cbe1fb url(paneh.gif) 50% 0%;
}

.splitbuttonH {
	margin-left: -41px;
	left: 50%;
	position: relative;
	height: 10px !important;
	width: 83px;
	background: transparent url(panehc.gif) 50% 0px;
}

.splitbuttonH.invert {
	margin-top: -4px;
	background: transparent url(panehc.gif) 50% -10px;
}

/* SplitterPanel stuff that is not dependant on jquery.splitter.js */
.ui-splt-vert { /* vertical splitter */
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.ui-splt-horz { /* horizontal splitter */
/*	height: 100%; */
/*	width: 100%; */
	width: auto;
}

.ui-splt-left {
	float: left;
	height: 100%;
	border-top: solid 1px <%= header_bg %>;
	overflow: auto;
	position: relative;
}

.ui-splt-right {
	float: right;
	height: 100%;
	overflow: auto;
	position: relative;
}

.ui-splt-top {
	width: auto;
	overflow: auto;
	position: relative;
}

.ui-splt-bottom {
	width: 100%;
	overflow: auto;
	height: 100%;
	position: relative;
}

/*** Bug indicator UI ***/
.ui-bug-ind {
	background-color: red;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 80px;
	height: 43px;
	border: 2px solid black;
}
.ui-bug-count {
	font-size: 25px;
	font-weight: bold;
	color: yellow;
}
.ui-bug-msg {
	font-size: 12px;
}
.ui-bug-stk {
	white-space: pre;
	font-family: monospace;
	font-size: 8px;
}

/*** DisplayCheckbox ***/
.ui-dspcb {
	border: none;
	width: 18px;
	height: 18px;
}

/*** Tree selector ***/
.ui-tree .selected {
	background: <%= selected_bg %> !important;
}
TD .ui-tree .selected:hover {
	background: <%= selected_bg %> !important;
}

/*** DisplayValue ***/
.ui-dspv {
	background:none repeat scroll 0 0 <%= readonly_bg %>;
	border: 1px solid <%= readonly_border %>;
	display:block;
	padding:2px;
}

/*** CaptionedHeader ***/
.ui-chdr {
	width: 100%;
/*	height: 20px; */
	background-image: url(bg-chdr.png.svg);
	background-position: 0px -2px;
	margin-top: 10px;
}
.ui-chdr-ttl {
	background-color: <%= util.color(header_bg).lighter(0.4) %>;
	-moz-border-radius: 5px;
	padding: 2px 10px 2px 10px;
	white-space: nowrap;
}
.ui-chdr-l {
	width: 20px;
	padding: 0;
	margin: 0;
}
.ui-chdr-c {
	width: 1%;
	overflow: visible;
}

/*** ErrorMessageDiv helper for components that handle their error display ***/
.ui-emd {
	background-color: <%= error_bg %>;
	color: <%= error_fg %>;
	border-color: 1px solid <%= error_border %>;
}
.ui-emd-msg {
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 18px;
}
.ui-emd-info {
	background-image: url(mini-info.png);
	background-color: <%= info_bg %>; /* some nice light blue */
	color: <%= info_fg %>;
	border-color: 1px solid <%= info_border %>;
}
.ui-emd-error {
	background-image: url(mini-error.png);
}
.ui-emd-warning {
	background-image: url(mini-warning.png);
}

/*** pop-in panel ***/
div.ui-popin {
	z-index: 20;
	border: 1px dotted #333333;
	background-color: #b8e59d;
	margin-top: 15px;
	-moz-border-radius: 5px;
}

.ui-popin-ttl {
	position: relative;
	top: -10px;
	left: 15px;
	border: 1px solid black;
	-moz-border-radius: 5px;
	background-color: #6af218;
	padding: 3px;
	font-weight: bold;
}

/*** AccessDeniedPage ***/
.ui-acd-ttl {
	font-size: larger;
	font-style: italic;
}

/*** MsgBox ***/
.ui-mbx-top {
	height: 140px;
}
.ui-mbx-bb {
	text-align: right;
	height: 35px;
	margin-right: 13px;
}
.ui-mbx-mc {
	font-size: 13px;
}

/*** InfoPanel ***/
.ui-ipa {
	padding: 4px;
	margin: 4px;
	-moz-border-radius: 5px;
	border: 1px solid #d0d0d0;
	font-style: italic;
}

/*** LinkButton component. ***/
.ui-lbtn {
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 18px;
	font-size: <%= link_font_size %>;
}
.ui-lnkb {
}

a.ui-lnkb {
	cursor: pointer;
}

a:hover.ui-lnkb {
	text-decoration: underline !important;
}

/*** ALink component. ***/
.ui-alnk {
}

.ui-alnk-i {
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 18px;
}

/*** Drag and drop ***/
.ui-drgbl {
	cursor: move;
}
.ui-drp-hover {
	border: 2px solid yellow;
	background-color: green;
}
.ui-drp-ins {
	font-size: x-small;
	font-variant: small-caps;
	background: url(dnd-separator.png) repeat-x center;
	text-align: center;
}

/*** Explanation box ***/
.ui-expl {
	border: 2px solid #777777;
	padding: 5px;
	-moz-border-radius: 10px;
	background: url(bg-expl.png) repeat-x;
	color: black;
}

/*** List Shuttle ***/
.ui-sh {
	width: 100%;
}
table .ui-sh {
	width: 100%;
}
.ui-sh-sc {
	width: 40%;
}
.ui-sh-tc {
	width: 40%;
}
.ui-sh-tcd, .ui-sh-scd {
	border: 1px solid #aaaaaa;
}
.ui-sh-bc {
	width: 1%;
}
.ui-sh-sc .selected, .ui-sh-tc .selected {
	background-color: <%= selected_bg %>;
}

/*** BreadCrumb ***/
.ui-brc {
	padding: 0; margin: 0;
}
.ui-brc-left {
	padding: 0; margin: 0;
	background-image: url(bg-rounded-left.png);
	width: 19px;
	height: 36px;
}
.ui-brc-right {
	padding: 0; margin: 0;
	background-image: url(bg-rounded-right.png);
	width: 29px;
	height: 36px;
}
.ui-brc-middle {
	padding: 0; margin: 0;
	background: url(bg-rounded-middle.png) repeat-x;
	height: 36px;
}
a.ui-brc-l, a.ui-brc-l:hover a.ui-brc-l :VISITED, a.ui-brc-l:ACTIVE {
	color: #ffff99;
	font-weight: bolder;
	text-decoration: none;
}
.ui-brc-c {
	color: white;
	font-weight: bolder;
}

/*** ButtonBar component ***/
.ui-buttonbar {
	padding: 0; margin: 0;
}
.ui-bb-left {
	padding: 0; margin: 0;
	display: none;
	width: 0px;
	height: 0px;
}
.ui-bb-right {
	padding: 0; margin: 0;
	width: 29px;
	height: 36px;
}
.ui-bb-middle {
	padding: 0; margin: 0;
	height: 36px;
}

/*** Tree component ***/
.ui-tr-act {
	cursor: pointer;
}
.ui-tr-val {
	white-space: nowrap;
}
td.ui-tr-sel:hover {
	background-color: <%= highlight_bg %> !important;
}
td.ui-tr-sel {
	cursor: pointer;
}
td.ui-tr-selected {
	background-color: <%= header_bg %>; !important;
}

/*** AsyncContainer ***/
.ui-asc {
	text-align: center;
}

/*** MonthPanel ***/
.ui-mp {
/*	background-color: #eeeeee; */
	font-size: 13px;
}
.ui-mp-mn {
	background-color: #82b4f8;
	text-align: center;
	font-weight: bold;
	font-variant: small-caps;
}

.ui-mp-top {
	background: url(bg-caption.png) repeat-x;
	font-weight: bold;
	font-style: italic;
}

.ui-mp-w {
	background-color: #bed6f8;
	font-weight: bold;
	font-style: italic;
}
.ui-mp-top TD {
	width: 1.8em;
}
.ui-mp-d, .ui-mp-xd {
	text-align: right;
}
.ui-mp-xd {
	color: #777777;
}
TD.ui-mp-ch:hover {
	background-color: #ffe1bf !important;
}
.ui-mp-mrk {
	background-color: yellow;
}
/**** Schedule ****/
.ui-wa {
	
}

.ui-wa-hd {
	font-size: 10px;
	font-weight: bold;
	vertical-align: top;
	text-align: center;
	background-color: #eeeeee;
	height: 20px;
}

div.ui-wa-bg {
	position: relative;
	top: 0px;
	left: 0px;
	clear: both;
	z-index: 10;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
div.ui-wa-f {
	z-index: 20;
	background-color: transparent;
}

/* IMPORTANT: this color together with "cellspacing=1" creates the lines between the cells!!!! */
table.ui-wa-bgtbl {
	background-color: #cccccc;
	font-size: 10px;
}

.ui-wa-gt {
	background-color: #eeeeee;
	text-align: right;
	white-space: nowrap;
}

.ui-wa-hour {
	font-size: 13px;
	font-weight: bold;
	vertical-align: top;
}

.ui-wa-min {
	font-size: 10px;
	font-weight: bold;
	vertical-align: top;
}

.ui-wa-cell {
	background-color: #ffffff;
}

/**** schedule item ****/
.ui-wa-it {
	overflow: hidden;
	border: 1px solid black;
	background-color: #00ffcc;
	font-size: 10px;
}

.ui-wa-img {
	float: left;
	padding-right: 10px;
}

.ui-wa-ity {
	font-variant: small-caps;
	font-size: 10px;
}

.ui-wa-nm {
	font-weight: bolder;
}

.ui-wa-dt {
	font-size: 10px;
}

.ui-wa-tm {
	font-size: 7px;
	color: blue;
	margin-left: 5px;
}

.ui-wa-nt {
	background-color: #ff4d00;
}

/*** LookupInput thingerydoo ***/
.ui-lui {
	/* background: #ffffff; */
	padding: 0px;
	margin: 0px;
}

div.ui-lui-selected {
	border-color:#ABADB3 #BFCDD9 #BFCDD9;
	border-style:solid;
	border-width:1px;
	-moz-border-radius: 2px;	
}

div.ui-lui-selected-ro {
	border: <%= readonly_border %> solid 1px; /* same border color as one used for ui-dspv fields */
}
	
div.ui-lui {
	width: 12em; /*	this width match with date field picker icon on IE rendering */
	display: inline-block;
}

table.ui-lui {
	width: 12em; /*	this width match with date field picker icon on IE rendering */
	white-space: nowrap;
}

table.ui-lui-selected {
	width: 100%;
	white-space: nowrap;
	padding: 1px;
}

.ui-lui-v { /* no selection is rendered transparent without border */
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.ui-lui-selected tbody { /*	selected value is rendered with white back and outline, on IE border is not rendred!? */
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
	width: 100%;
}

.ui-lui-selected-ro tbody {
	background-color: <%= readonly_bg %>;
}

.ui-input-err * .ui-lui-v {
	background-color: #ffe5e5 !important;
}
.ui-lui-vcell {
	width: 99%;
}
input.ui-lui-keyword {
	min-width: 98px;
}

img.ui-lui-waiting{
	position:absolute;
	top:2px;
	right:2px;
}
.ui-lui-keyword-res{
	color: black;
}
.ui-lui-keyword-no-res{
	color: red;
}
.ui-lui-keyword-large{
	color: red;
}
.ui-lui-keyword-popup{
	position: absolute;
	left: 0px;
	top: 18px;
	background-color: white;
	border: 1px solid gray;
	width: 402px;
	overflow: hidden;
}
tr.ui-keyword-popop-rowsel {
	cursor: pointer;
	background-color: <%= highlight2_bg %> !important;
}

tr.ui-keyword-popop-rowsel:hover {
	background-color: <%= highlight2_bg %> !important;
}

tr.ui-keyword-popup-row {
	cursor: pointer;
}

.no-wrap{
	white-space: nowrap;
    overflow: hidden;
}

/*** LookupForm ***/
.ui-lf-coll {
	border-bottom: 1px dotted #666666;
}

/*** FloatingWindow ***/
.ui-fw {
	padding: 0;
	margin: 0;
	/*	border: 1px solid black; */
	background: url(bg-body.png) repeat-x white;
	border: 1px solid #cccccc;
	border-top: none;
	/*	overflow: hidden;	*/
	top: 5%;
	left: 50%;
}

.ui-fw-ttl {
	position: absolute;
	top: 0px;
	height: 20px;
	left: 0px;
	right: 0px;
/*	width: 100%; */
	padding: 0;
	padding: 2px;
	background: url(bg-float-ttl2.png) repeat-x;
	border-bottom: 1px solid #eeeeee;
	font-size: 15px;
	font-weight: bold;
}

.ui-fw-c {
	width: 100%;
	position: absolute;
	top: 24px;
	bottom: 0px;
/*	height: 100%; */
	padding: 0;
	margin: 0;
	overflow: auto;
}

.ui-fw-hider {
	height: 100%;
	width: 100%;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: black;
	filter:alpha(opacity=50);
}

.ui-fw-btn-close {
	margin-top: -1px;
	margin-right: -2px;
}

/** Tree control ***/

.ui-tree {
	height: 100%;
}

/*** SplitPanel (simple version) layout thingy ***/
.ui-sp,.ui-sp-c {
	vertical-align: top;
}

/*** Form basic styles: these are for forms having the label BEFORE the field (horizontal). ***/
.ui-f-lbl {
	text-align: right;
	font-weight: bold;
	vertical-align: top;
}

.ui-f-in {
	vertical-align: top; /* jal 20090818 changed from top to middle to align DateInput buttons better */
	padding: 0px;
}
.ui-f-do {
	vertical-align: top; /* jal 20090818 changed from top to middle to align DateInput buttons better/20100708 jal: back to top because LookupInput causes misalignment of labels after it. */
	padding: 0px;
}

/*** Form basic styles: for forms having the label ABOVE the field (vertical stacked) ***/
.ui-fvs-lbl {
	font-weight: bold;
}

.ui-fvs-in {
	vertical-align: top;
}

.ui-fvs-do { /* displayonly field */
	background-color: white;
	padding: 2px;
}

/*** Typed presentation for fields containing numerics ***/
.ui-numeric {
	text-align: right !important;
}

TD.ui-numeric {
	padding-right: 3px;
}

/* Display-only field */
.ui-f-display {
	vertical-align: top;
	background: #eff7ff;
}

/*** Form basic styles: for forms where the label is above the edit control (vertical). ***/
/* jal 20100215 Appears to be unused, should merge with -fvs- above.
.ui-fv-lbl {
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	vertical-align: top;
}
.ui-fv-in {
	font-size: 11px;
	font-family: verdana, tahoma, helvetica, sans-serif;
	vertical-align: top;
}
.ui-fv-display {
	font-size: 11px;
	font-family: verdana, tahoma, helvetica, sans-serif;
	vertical-align: top;
	background: #eff7ff;
}
*/

input {
}

button img {
	vertical-align: bottom;
}
button {
	vertical-align: bottom;
}

.ui-ro {
	/*background: #eff7ff;*/
	border:1px solid <%= readonly_border %>;
	background-color: <%= readonly_bg %>;
}

.ui-ro:hover {
	/*background: #eff7ff;*/
	border:1px solid <%= readonly_border %>;
	background-color: <%= readonly_bg %>;
}

/*** Panning Image Panel ***/
.ui-pip-img {
	overflow: hidden;
	border: 2px solid black;
}

/*** NiceButton ***/
a.ui-nbtn {
	/* display: inline-table; jal 20080711 This works proper with FF3 et al but of course not with IE7.. IE8 does work though */
	display: inline-block;
	color: white;
	background: url(threebuttons2.png) transparent no-repeat;
	width: 122px;
	height: 25px;
	margin: 3px auto;
	padding: 3px 0 0 0;
	text-align: center;
	font-size: 100%;
	font-weight: bold;
	text-decoration: none;
}

a.ui-nbtn:hover,a.ui-nbtn:active {
	background-position: 0 -34px;
	color: yellow;
}

/*** Image Button ***/
.ui-ib {
/*	width: 124px; 20110118 jal make the image scale the button automatically; fixes decade bug# 1029.
	height: 24px; */
	border: none;
	background: none;
	cursor: pointer;
	padding: 0px;
	/* 20110118 jal IE7 idiot fix for button width blunder. */
	width: 0;
	overflow: visible;
}
/* 20110118 jal IE7 idiot fix for button width blunder. */
.ui-ib[class] {
	width: auto;
}
td .ui-ib[class] {
}
/* end fix */

.ui-ib:hover {
	background: #cccccc;
}

/*** Old Image button ***/
.ui-ibtn {
	cursor: pointer;
}

/*** ExpandingTable ***/
.ui-xdt {
	overflow: auto;
}

.ui-xdt TH {
	text-align: left;
}

.ui-xdt-hdr {
	/* default domui table header style is still to be defined */
}

.ui-xdt-ix {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 18px;
	font-size: 12px;
	color: #1700ee;
	text-decoration: underline !important;
}
div:hover.ui-xdt-clp {
	background-image: url(xdt-collapsed.png);
}
div:hover.ui-xdt-exp {
	background-image: url(xdt-expanded.png);
}
.ui-xdt-new {
	background-image: url(btnConfirm.png);
}

.ui-xdt-edt {
	background-color: #dffbf7;
	/*width: 99%;  */
	vertical-align: top;
	-moz-border-radius: 5px;
	border: 1px dotted #333333;
}
.ui-xdt-nores {
	padding: 10px 0px 10px 0px;
	font-style: italic;
}

/*** DataTable default style ***/
div.ui-dt {
	overflow: auto;
	position: relative;
}

.ui-dt th {
	text-align: left;
	font-weight: bold;
	padding: 0px 3px;
	vertical-align: top;
}

.ui-dt tbody td {
	padding: 0px 3px;
}

.ui-dt-hdr {
	background: url(bg-dt-hdr.png) repeat-x #98bbf3;
	color: white;
}

.ui-dt-nores {
	padding: 10px 0px 10px 0px;
	font-style: italic;
}

.ui-odd {
}

.ui-even {
	background-color: <%= even_bg %>;
}

tr.ui-rowsel {
	cursor: pointer;
}

tr.ui-rowsel:hover {
	background-color: <%= highlight_bg %> !important;
}

td.ui-cellsel {
	cursor: pointer;
	color: <%= link_color %>;
}

td.ui-cellsel:hover {
	text-decoration: underline;
	background-color: <%= cellhighlight_bg %> !important;
}

th.ui-sortable {
	cursor: pointer;
}

div.ui-sortable {
	position: relative;
}

.ui-sortable img {
	top: 2px;
	left: -2px;
	position: absolute;
	border: 0px;
}

.ui-sortable span {
	margin-left: 8px;
}

tbody td.ui-dt-separator {
	background: url(bg-horiz-separator.png) repeat-x center;
	padding: 1px;
}

.ui-dt .mselected {
	background-color: #dedeff; /* 20110217 jal OptimalDeltaRenderer goes wrong when setting this @ 1st select.... Leave for now. */
}

/*** Small Image button ***/
.ui-sib {
	padding: 0px 1px 0px 1px;
	margin: 0px;
	border: 0px;
	background: transparent;
	vertical-align: bottom;
	cursor: pointer;
}

.ui-sib img {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.ui-sib:hover {
	background-color: <%= header_bg %> !important;
}

/*** Caption ***/
.ui-cptn {
	border: 1px solid <%= header_bg %>;
	padding: 2px 4px 2px 4px;
	font-weight: bold;
	background: url(bg-header.png.svg) repeat-x;
	margin-top: 10px;
}


/*** Caption ***/
.ui-cptn {
	border: 1px solid #bed6f8;
	padding: 2px 4px 2px 4px;
	font-weight: bold;
	background: url(bg-header.png.svg) repeat-x;
	margin-top: 10px;
}


/*** CaptionedPanel ***/
.ui-pnl-outer {
	background-color: white;
	padding: 1px;
	border: 1px solid <%= header_bg %>;
}

.ui-pnl-caption {
	border: 1px solid <%= header_bg %>;
	padding: 2px 4px 2px 4px;
	font-weight: bold;
	background: url(bg-header.png.svg) repeat-x;
}

.ui-pnl-cont {
	position: relative;
	padding: 5px;
}

/*** ErrorPanel - a CaptionedPanel used to display errors in the page ***/
.ui-err-outer { /*	background-color: #ffe5e5; */
	background-color: white;
	padding: 1px;
	border: 1px solid <%= error_bg %>;
	margin-bottom: 5px;
}

.ui-err-caption {
	border: 1px solid <%= error_bg %>;
	padding: 2px 4px 2px 4px;
	font-weight: bold;
	background: url(bg-errors.png) repeat-x bottom;
}

.ui-input-err {
	background-color: <%= error_input_bg %> !important;
}

/*** Message html codes: messages containing simple html (b, em, strong, i) are translated to contain spans with styles ui-txt-i, ui-txt-b etc ***/
.ui-txt-i {
	font-style: italic;
}
.ui-txt-b {
	font-weight: bold;
}

/*** The tab control, using the "sliding doors" technique as in http://www.alistapart.com/articles/slidingdoors/ ***/
.ui-tab-hdr {
	float: left;
	font-size: 12px;
	line-height: normal;
	border-bottom: 1px solid black;
	width: 100%;
}

.ui-tab-hdr ul {
	margin: 0;
	padding: 8px 10px 0;
	list-style: none;
}

.ui-tab-hdr  li {
	float: left;
	margin: 0;
	padding: 0 0 0 8px;
	background: url(tab-off-left.png) no-repeat left top;
}

li.ui-tab-err {
	float: left;
	margin: 0;
	padding: 0 0 0 8px;
	background: url(tab-off-err-left.png) no-repeat left top;
}

.ui-tab-hdr a {
	display: block;
	background: url(tab-off-right.png) no-repeat right top;
	padding: 5px 14px 4px 6px;
	text-decoration: none;
	font-weight: bold;
	color: <%= tab_fg %>;
}

.ui-tab-hdr ul a:hover {
	color: <%= tab_link_color %>;
}

.ui-tab-hdr .ui-tab-sel {
	background-image: url(tab-norm-left-sel.png);
}

.ui-tab-hdr .ui-tab-err a {
	background-image: url(tab-off-err-right.png);
}

.ui-tab-hdr .ui-tab-sel a {
	background-image: url(tab-norm-right-sel.png);
}

.ui-tab-err a {
	color: <%= error_fg %>;
}

.ui-tab-icon {
	padding-right: 5px;
}

.ui-tab {
	position: relative; /* jal new 20070625 */
	clear: both;
	background-color: #ffffff;
	border: 1px solid <%= header_bg %>;
	padding: 0px;
}

.ui-tab-tabbar {
	margin: 0px;
	padding: 0px;
}

.ui-tab-pag {
	border-top: 1px solid black;
}

/*** ScrollableTabPanel ***/
.ui-stab-hdr {
	float: left;
	font-size: 12px;
	line-height: normal;
}

.ui-stab-hdr ul {
	margin: 0;
	padding: 8px 0px 0;
	list-style: none;
}

.ui-stab-hdr  li {
	float: left;
	margin: 0;
	padding: 0 0 0 8px;
	background: url(tab-off-left.png) no-repeat left top;
}

.ui-stab-hdr a {
	display: block;
	background: url(tab-off-right.png) no-repeat right top;
	padding: 5px 14px 4px 6px;
	text-decoration: none;
	font-weight: bold;
	color: <%= tab_fg %>;
}

.ui-stab-hdr ul a:hover {
	color: <%= tab_link_color %>;
}

.ui-stab-hdr .ui-tab-sel {
	background-image: url(tab-norm-left-sel.png);
}

.ui-stab-hdr .ui-tab-err a {
	background-image: url(tab-off-err-right.png);
}

.ui-stab-hdr .ui-tab-sel a {
	background-image: url(tab-norm-right-sel.png);
}

.ui-stab-scrl {
	border-bottom: 1px solid black;
}

.ui-stab-scrl-left {
	background: url(tab-scrl-left1.png) no-repeat transparent center;
	border:0 none;
	margin:0;
	visibility:hidden;
	display:block;
	width: 15px;
	height: 24px;	
}

.ui-stab-scrl-left:hover {
	background: url(tab-scrl-left.png) no-repeat transparent center;
	cursor: pointer;
}

.ui-stab-scrl-right {
	background: url(tab-scrl-right1.png) no-repeat transparent center;
	border:0 none;
	margin:0;
	visibility:hidden;	
	display:block;
	width: 15px;
	height: 24px;	
}

.ui-stab-scrl-right:hover {
	background: url(tab-scrl-right.png) no-repeat transparent center;
	cursor: pointer;
}

/*** Body element ***/
body,html {
/*	background: url(bg-gradient.png.svg) repeat-x;
	background-color: <%= bg_color %>;
*/
	background-color: #e4e3e1;
	
/*	height: 100%; jal 20110221 Body height causes no end of problems with scrollbars. */
	margin: 0px;
}

/*** IO hider overlay ***/
.ui-io-blk {
	height: 100%;
	width: 100%;
	opacity: 0.0;
	position: fixed;
	top: 0px;
	left: 0px;
	filter:alpha(opacity=0);
	z-index: 1000;
}
.ui-io-blk2 {
	height: 100%;
	width: 100%;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	left: 0px;
	background: black url(io-blk-wait.gif) no-repeat center center; 
	filter:alpha(opacity=50);
	z-index: 1000;
}

/*** Percentage progress bar ***/
.ui-pct-rlr {
	display: inline-block;
	width: 50px;
	background-image: url(bg-progress.png);
	background-position: -375px 0px;
	background-repeat: no-repeat;
	/*border-collapse: separate; */
	border: 1px solid black;
}
<% if(browser.isIE()) { %>
.ui-pct-rlr { /* IE 7 FIX: by repeating the display: inline in a SEPARATE css selector we force proper inline-block behaviour, see http://www.brunildo.org/test/InlineBlockLayout.html */
	display: inline;
}
<% } %>
<% if(browser.isFirefox()) { %>
/** FIREFOX BROWSERT */
<% } %>

/*** DisplayHtml ***/
.ui-dhtml-blk {
	display: block;
}
.ui-dhtml-inl {
	display: inline;
}
.ui-dhtml-ibl {
	display: inline-block;
}
<% if(browser.isIE()) { %>
.ui-dhtml-ibl { /* IE 7 FIX: by repeating the display: inline in a SEPARATE css selector we force proper inline-block behaviour, see http://www.brunildo.org/test/InlineBlockLayout.html */
	display: inline;
}
<% } %>

/*** Helper classes ***/
.ui-szless {
	padding: 0px;
	margin: 0px;
}
.ui-clickable {
	cursor: pointer;
}
.ui-sup {
	font-size: xx-small;
	vertical-align: top;
}
.ui-sub {
	font-size: xx-small;
	vertical-align: bottom;
}
.ui-pre {
	white-space: pre;
}
.ui-nowrap {
	white-space: nowrap;
}
.ui-printdiv {
	overflow: hidden;
	width: 1px;
	height: 1px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.ui-hor-divider {
	min-width: 0px;
	max-width: 0px;
	width: 0px;
	border-left: 2px dotted <%= header_bg %>; /*#6b99e8;*/
	background-color: #e5e5e5;
}

/*** Development mode popup ***/
.ui-ipt {
	z-index: 200;
	position: absolute;
	top: 20px;
	left: 80px;
	width: 500px;
	height: 200px;
	background-color: #04001f;
	border: 4px solid black;
}
.ui-ipt-ttl {
	background-color: #24001f;
	font-size: large;
	color: orange;
}
.ui-ipt-list {
	overflow: auto;
	height: 170px;
}
.ui-ipt-item {
	background-color: #201c3d;
	padding: 3px;
	border-bottom: 1px dotted #444444;
	color: white;
	white-space: nowrap;
}
.ui-ipt-btn {
	cursor: crosshair;
}

/*** Color picker ***/
.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}

/*** ColorPickerButton ***/
.ui-cpbt-btn {
	position: relative;
	background: url(colorpicker-select.png) transparent;
	height: 36px;
	width: 36px;
	left: 0;
	top: 0;
}
.ui-cpbt-btn div {
	position: absolute;
	background: url(colorpicker-select.png) center center transparent;
	height: 28px;
	width: 28px;
	left: 4px;
	top: 4px;
}

/*** Popup menu ***/
.ui-pmnu {
	display: none;
	width: 200px;
	background-color: grey;
	border: 1px dotted black;
	-moz-border-radius: 5px;
	color: white;
}
.ui-pmnu-ttl {
	padding: 4px;
	font-style: italic;
	background-color: #222;
}
.ui-pmnu-action {
	padding: 4px;
	padding-left: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
	background-position: 2px 4px;
}
.ui-pmnu-action:hover {
	background-color: #ff9436;
}

/*** jquery-layout css. ***/
.ui-blap {
	height: 100%;
	margin: 0 auto;
	width: 100%;
	min-width: 500px;
}

/*
 *	PANES & CONTENT-DIVs
 */
.ui-layout-pane { /* all 'panes' */
	background:	#FFF; 
	border:		1px solid #BBB;
	/* DO NOT add scrolling (or padding) to 'panes' that have a content-div,
	   otherwise you may get double-scrollbars - on the pane AND on the content-div
	*/
	padding:	10px; 
	overflow:	auto;
}
/* (scrolling) content-div inside pane allows for fixed header(s) and/or footer(s) */
.ui-layout-content {
	padding:	10px;
	position:	relative; /* contain floated or positioned elements */
	overflow:	auto; /* add scrolling to content-div */
}

/*
 *	RESIZER-BARS
 */
.ui-layout-resizer	{ /* all 'resizer-bars' */
	background:		#DDD;
	border:			1px solid #BBB;
	border-width:	0;
}
.ui-layout-resizer-drag {		/* REAL resizer while resize in progress */
}
.ui-layout-resizer-hover	{	/* affects both open and closed states */
}
/* NOTE: It looks best when 'hover' and 'dragging' are set to the same color,
	otherwise color shifts while dragging when bar can't keep up with mouse */
.ui-layout-resizer-open-hover ,	/* hover-color to 'resize' */
.ui-layout-resizer-dragging {	/* resizer beging 'dragging' */
	background: #C4E1A4;
}
.ui-layout-resizer-dragging {	/* CLONED resizer being dragged */
	border-left:  1px solid #BBB;
	border-right: 1px solid #BBB;
}
/* NOTE: Add a 'dragging-limit' color to provide visual feedback when resizer hits min/max size limits */
.ui-layout-resizer-dragging-limit {	/* CLONED resizer at min or max size-limit */
	background: #E1A4A4; /* red */
}

.ui-layout-resizer-closed-hover	{ /* hover-color to 'slide open' */
	background: #EBD5AA;
}
.ui-layout-resizer-sliding {	/* resizer when pane is 'slid open' */
	opacity: .10; /* show only a slight shadow */
	filter:  alpha(opacity=10);
}
.ui-layout-resizer-sliding-hover {	/* sliding resizer - hover */
	opacity: 1.00; /* on-hover, show the resizer-bar normally */
	filter:  alpha(opacity=100);
}
/* sliding resizer - add 'outside-border' to resizer on-hover 
 * this sample illustrates how to target specific panes and states */
.ui-layout-resizer-north-sliding-hover	{ border-bottom-width:	1px; }
.ui-layout-resizer-south-sliding-hover	{ border-top-width:		1px; }
.ui-layout-resizer-west-sliding-hover	{ border-right-width:	1px; }
.ui-layout-resizer-east-sliding-hover	{ border-left-width:	1px; }

/*
 *	TOGGLER-BUTTONS
 */
.ui-layout-toggler {
	border: 1px solid #BBB; /* match pane-border */
	background-color: #BBB;
}
.ui-layout-resizer-hover .ui-layout-toggler {
	opacity: .60;
	filter:  alpha(opacity=60);
}
.ui-layout-toggler-hover , /* need when NOT resizable */
.ui-layout-resizer-hover .ui-layout-toggler-hover { /* need specificity when IS resizable */
	background-color: #FC6;
	opacity: 1.00;
	filter:  alpha(opacity=100);
}
.ui-layout-toggler-north ,
.ui-layout-toggler-south {
	border-width: 0 1px; /* left/right borders */
}
.ui-layout-toggler-west ,
.ui-layout-toggler-east {
	border-width: 1px 0; /* top/bottom borders */
}
/* hide the toggler-button when the pane is 'slid open' */
.ui-layout-resizer-sliding  ui-layout-toggler {
	display: none;
}
/*
 *	style the text we put INSIDE the togglers
 */
.ui-layout-toggler .content {
	color:			#666;
	font-size:		12px;
	font-weight:	bold;
	width:			100%;
	padding-bottom:	0.35ex; /* to 'vertically center' text inside text-span */
}

/*** DefaultButton (replaces old version, this one uses hover effects) ***/
.ui-dbtn {
	margin: 2px;
}
.ui-dbtn:HOVER, .ui-dbtn:FOCUS {
	background-position: 0px -<%= defaultbutton_height %>px;
}
