/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
// Media
img,
embed,
object,
audio,
video {
  max-width: 100%;
}

// Iframe
iframe {
  border: 0;
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  text-align: left;
}
