/** Stylesheet for the 'default' scheme of the WebUI components. */
body, html {
	background-color: #ffffff;
	font-family: Arial, Verdana, Bitstream Vera, sans-serif;
	font-size: 11pt;
}
.wminilink {
	font-family: Arial, Verdana, Bitstream Vera, sans-serif;
	font-size: 8pt;
}

.wpanelcaption {
	background: url(bg-caption.gif) repeat-x;
}
.wsizeless {
	padding: 0px;
	margin: 0px;
}

/*** view ***/
.wviewerrs {
	color: red;
	font-weight: bold;
	margin: 0px;
	padding: 2px 5px 2px 5px;
	background: url(bg-errors.png) repeat-x;
	max-height: 3.2em;
	overflow: auto;
	margin-bottom: 8px;
	font-family: Arial, Verdana, Bitstream Vera, sans-serif;
	font-size: 10pt;
}
.werricon {
	margin-left: 8px;
	margin-right: 1em;
}

/*** Buttons ***/
.wbutton {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 4px 10px 3px 7px;
}

/** UIText **/
.wtexterror {
	background-color: #fbcbcb;
}

/** Panel **/
.wpaneldiv {
	background-color: white;
	padding: 1px;
	border: 1px solid #bed6f8;
}
.wpanelcaption {
	border: 1px solid #bed6f8;
	padding: 2px 4px 2px 4px;
	font-weight: bold;
}
.wpanelcontents {
	position: relative;
	padding: 5px;
}
.wmsgicon {
	z-index: 10;
}

/** Busy waiter overlay **/
.wwaitersilk {
	background-color: #000000;
}
.wwaiterwindow  {
	background-color: #000000;
/*	background-position: center, center; */
	background-image: url(processingbar.gif);
	background-repeat: no-repeat;
}

/** Tab panel. Using the "sliding doors" technique as in http://www.alistapart.com/articles/slidingdoors/  */
.wtabheader {
	float: left;
	width: 100%;
	background-image: url(threebuttons2.png) no-repeat bottom;
	font-size: 93%;
	line-height: normal;
}

.wtabheader ul {
	margin: 0;
	padding: 8px 10px 0;
	list-style: none;
}
.wtabheader li {
	float: left;
	margin: 0;
	padding: 0 0 0 9px;
	background: url(bg-tab-3.png) no-repeat left top;
}
.wtabheader a {
	display: block;
	background: url(bg-tab-3.png) no-repeat right top;
	padding: 5px 15px 4px 6px;
	text-decoration: none;
	font-weight: bold;
	color: #eee;
}
.wtabheader a:hover {
	background: url(bg-tab-3a.png) no-repeat right top;
	color: #333;
}
.wtabheader .wtabselected {
	background-image: url(bg-tab-3.png);
}
.wtabheader .wtabselected a {
	background-image: url(bg-tab-3.png);
	padding-bottom: 5px;
	color: #333;
}

.wtabcontent {
	position: relative;		/* jal new 20070625 */
	clear: both;
	background-color: #ffffff;
	border: 1px solid #bed6f8;
	padding: 4px;
}
.wtabbuttonbar {
	margin: 0px;
	padding: 0px;
}

/*** panelGrid ***/
.wpanelgrid {
	position: relative;
}

.wgridrow {
}
.wgridcol {
	text-align: right;
	padding: 2px 2px 2px 2px;
}

/**** label ****/
.wlabel {
	text-align: right;
	font-family: Arial, Verdana, Bitstream Vera, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding: 3px 10px 3px 3px;
}

/**** Schedule ****/
.wschedule {
}
.wshdate {
	font-family: Arial, Verdana, Bitstream Vera, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	vertical-align: top;
	text-align: center;
	background-color: #eeeeee;
}
/* IMPORTANT: this color together with "cellspacing=1" creates the lines between the cells!!!! */
table.wsbackground {
	background-color: #cccccc;
	font-family: Arial, Verdana, Bitstream Vera, sans-serif;
	font-size: 8pt;
}
.wsgutter {
	background-color: #eeeeee;
	text-align: right;
}
.wshour {
	font-family: Arial, Verdana, Bitstream Vera, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	vertical-align: top;
}
.wsminute {
	font-family: Arial, Verdana, Bitstream Vera, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	vertical-align: top;
}
.wsbgcell {
	background-color: #ffffff;
}

/**** schedule item ****/
.wsitem {
	overflow: hidden;
	border: 1px solid black;
	background-color: #00ffcc;
	font-family: Arial, Verdana, Bitstream Vera, sans-serif;
	font-size: 8pt;
}
.wsholimg {
	float: left;
	
}
.wsitemtype {
	font-variant: small-caps;
	font-size: 6pt;
}
.wsitemname {
	font-weight: bolder;
}
.wsitemdetails {
	font-size: 6pt;
}
.wsitemtime {
	font-size: 6pt;
	color: blue;
	margin-left: 5px;
}
.wsnewtime {
	background-color: #ff4d00;
}
