/*** 240_labelselector.frag.css ***/
/*** LabelSelector component ***/
.ui-lsel {
	display: inline-block;
	background: white;
	margin-right: 2px;
	margin-bottom: 2px;
	border-color: <%= bevel_up %> <%= bevel_down %> <%= bevel_down %>;
	border-style: solid;
	border-width: 1px;
}
.ui-lsel-item {
	display: inline-block;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid <%= multiple_lookup_label_color %>;
	margin: 1px;
	padding: 2px;
	background-color: <%= multiple_lookup_label_border %>;
}
.ui-lsel-btn {
	display: inline-block;
	margin-left: 5px;
	width: 14px;
	height: 14px;
	background-image: url(btnClose.png);
	background-size: 14px 14px;
}

.ui-lsel img {
	padding-left: 5px;
	padding-bottom: 2px;
	vertical-align: middle;
}
.ui-lsel input {
	border: none;
	outline: none;
	vertical-align: top;
	height: 18px;
	margin: 0px 0px 0px 2px;
	padding: 0px;
	display: inline-block;
}
.ui-lui-keyword-no-res {
	display: inline-block;
	margin: 4px;
}

