/* Default Stylesheet inside the HtmlMiniEditor. */
body,html {
	background-color: white;
	font-family: Arial, Verdana, Bitstream Vera, sans-serif;
	font-size: 13px;
}
code {
	white-space: pre;
	font-family: Courier New, Courier, monospace;
	font-size: 13px;
	background-color: #ddd;
	display: block;
}

