/*** ExpandingHeader component ***/
.ui-xphd {
	font-family: 'Tahoma', 'Geneva', 'Verdana', sans-serif;
	padding-top: 4px;
}
.ui-xphd-bar {
	font-size: 14px;
}
td.ui-xphd-ttl {
	padding-left: 4px !important;
}
.ui-xphd-normal .ui-xphd-bar {
	color: #297bc0;
}
.ui-xphd-small .ui-xphd-bar {
	color: black;
	font-weight: bold;
	font-size: 12px;
}
.ui-xphd-bar {
}
.ui-xphd-bar button {
	padding: 0px;
	margin: 0px;
}
.ui-xphd-bar td {
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}
