/*** 165_tabpanel.frag.css ***/
/*** The tab control, using the "sliding doors" technique as in http://www.alistapart.com/articles/slidingdoors/ ***/
.ui-tab-c {
	margin: 0px -<%= margins_main %> <%= margins_main %> -<%= margins_main %>;
}
.ui-tab-hdr ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.ui-tab-li {
	margin: 0;
	padding: 0;
}

.ui-tab-close-li {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.ui-tab-hdr {
	float: left;
	font-size: <%= font_size %>;
	line-height: normal;
	width: 100%;
	margin: 0px 0px <%= margins_main %>;
}

.ui-tab-hdr li {
    background: url("<%= tab_pnl_img %>") no-repeat scroll left -200px transparent;
    float: left;
    margin: 0;
    padding: 0 0 0 8px;
    cursor: pointer;
    list-style: none;
}

.ui-tab-div {
	background: url("<%= tab_pnl_img %>") no-repeat scroll right -250px transparent;
    display: block;
    font-weight: bold;
    padding: 9px 14px 0px 6px;
    text-decoration: none;
    min-height: 22px;
    color: <%= tab_pnl_inactive_col %>;
    margin-right: 0px !important;
}

.ui-tab-div a {
	vertical-align: middle;
}

.ui-tab-hdr img {
	vertical-align: top;	
}

.ui-tab-link {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
	color: <%= tab_pnl_inactive_col %>;
	position: relative;    
	padding: 2em;     
	margin: -2em;
}

.ui-tab-close {
    display: inline-block;
	background-image: url("<%= tab_pnl_close %>");
    height: 11px;
	width: 11px;
	margin-left: 8px;
}

.ui-tab-close:hover {
	background-image: url("<%= tab_pnl_close_hover %>");
}

.ui-tab-hdr li:hover {
	background-position: left -300px;
}

.ui-tab-hdr li:hover div{
	background-position: right -350px;
	color: <%= tab_pnl_hover_inactive_col %>;
}

.ui-tab-hdr li.ui-tab-sel, 
.ui-tab-hdr li.ui-tab-sel:hover {
	background-position: left top;
}

.ui-tab-hdr li.ui-tab-sel div, 
.ui-tab-hdr li.ui-tab-sel:hover div {
	background-position: right -50px;
	color: <%= tab_pnl_active_col %>;
}

.ui-tab-hdr li.ui-tab-sel span, 
.ui-tab-hdr li.ui-tab-sel:hover span {
	background-position: right -50px;
	color: <%= tab_pnl_active_col %>;
}

li.ui-tab-err div {
	color: <%= errors_foreground %> !important;
}

.ui-tab-icon {
	padding-right: 5px;
}

.ui-tab-tabbar {
	margin: 0px;
	padding: 0px;
}

.ui-tab-pag {
	border-top: 1px solid black;
}

.ui-tab-ibte {
	height: 31px;
	background: <%= tab_pnl_sep_bg %>;
	overflow: hidden;
}

li.ui-tab-ibt {
	background: <%= tab_pnl_sep_bg %>;
	height: 31px;
	width: 3px;
	padding: 0px;
	margin: 0px;
}

div.ui-tab-hdr li, div.ui-tab-ibte {
	border-bottom: <%= tab_pnl_btm_border %> solid #727272;
}

div.ui-tab-hdr li.ui-tab-sel {
	border-bottom: 0px;
}

li.ui-tab-ibt:FIRST-CHILD {
	width: 10px;
}

.ui-tab-pg {
	padding: 0px 10px;
}

.ui-tab-pg .ui-buttonbar, .ui-tab-pg .ui-szless {
	margin-left: 0px;
}
