/*** LookupInputBase2: replacement for LookupInput ***/
.ui-lui2 {
    position: relative;
}
.ui-lui2-selected {
    position: relative;
}
.ui-lui2-vspan {
    display: inline-block;
    min-width: 12em;
    white-space: nowrap;
    background-color: #ffffff;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 35px;
    margin-bottom: 0px;
    margin-bottom: 0px;

    border-color:#ABADB3 #BFCDD9 #BFCDD9;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius: 2px;

    vertical-align: top;
}
.ui-lui2-selected-ro .ui-lui2-vspan,
.ui-ro .ui-lui2-vspan{
    background: transparent;
    padding-right: 2px;
}
.ui-lui2 button, .ui-lui2-selected button {
    vertical-align: top;
    margin-top: 1px;
}

