.ui-wzdl-step {
    margin-top: 32px;
    clear: both;
    min-height: 300px;
}
.ui-wzdl-bbcontainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.ui-wzdl-bbleft {
    position: absolute;
    left: 5px;
    width: 50%;
    text-align: left;
    float: left;
}
.ui-wzdl-bbright {
    width: 50%;
    text-align: right;
    float: right;
}

.ui-wznf-next {
    display: inline-block;
    float: left;
    padding: 10px;
}
.ui-wznf-prev {
    display: inline-block;
    float: left;
    padding: 10px;
}
.ui-wznf-curr {
    display: inline-block;
    float: left;
    padding: 10px;
    font-weight: bold;
}
.ui-wznf-sep {
    display: inline-block;
    float: left;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    padding: 5px;
    background: #013686;
    text-align: center;
    font-size: 10px;
    color: white;
    margin: 6px -5px 0 6px;
}
.ui-wznf-sep-past {
    display: inline-block;
    float: left;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    padding: 5px;
    background: darkgreen;
    text-align: center;
    font-size: 10px;
    color: white;
    margin: 6px -5px 0 6px;
}
.ui-wznf-sep-next {
    display: inline-block;
    float: left;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    padding: 5px;
    background: black;
    text-align: center;
    font-size: 10px;
    color: white;
    margin: 6px -5px 0 6px;
    opacity: 0.2;
}
.ui-wznf-area {
    position: absolute;
    left: 0;
    top: 28px;
    right: 0;
    background: linear-gradient(#fbfbfb, #e5e4e5);
    border-bottom: 1px solid #aaa;
    z-index: 99999;
}

/*For demo purposes*/
.ui-wzdl-align-left {
    position: absolute;
    left: 10px;
}

