/*
 * Form designer editor stylesheet.
 */
.fb-main {
	
}
.fb-top {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
	background: black;
	color: white;
}
.fb-left {
	position: absolute;
	top: 30px;
	bottom: 0px;
	left: 0px;
	right: 300px;
}
.fb-right {
	position: absolute;
	top: 30px;
	bottom: 0px;
	width: 300px;
	right: 0px;
	border-left: 1px dotted black;
	background-color: #eee;
}

/*** Paint panel ***/
.fd-pp {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	
	background: url(gridbackground.png) repeat;
}

/*** Component panel ***/
.fb-cp {
	position: relative;
	overflow: auto;
	bottom: 0px;
}

/*** Components inside the panel (PanelComponent) ***/
.fb-pc {
	background-color: #ccf;
	padding: 5px;
	margin: 5px;
	border-bottom: 1px dotted gray;
}

.fb-pc-label {
	display: inline-block;
	height: 24px;
	font-size: 8px;
	font-style: italic;
}

.fb-pc-pres {
	display: inline-block;
	height: 24px;
	width: 48px;
}
