<table width="100%"  class="maintbl">
	<tr>
		<td nowrap width="1%" title="#of times this statement was executed"># exec</td>
		<td nowrap width="1%" title="Total time spent">Total</td>
		<td nowrap width="1%" title="Time spent in query execute">Execute</td>
		<td nowrap width="1%" title="Time spent in query fetching">Fetch</td>
		<td nowrap width="1%" title="Total #of rows fetched/updated through this statement for all executions">#rows</td>

		<td width="99%">Key</td>
	</tr>
<%
	for(var i = 0; i < items.size(); i++) {
		var pi = items.get(i);
%>
	<tr class="statrow <%= self.odd() %>">
		<td nowrap width="1%" align="right" valign="top" rowspan="2"><%= DbPoolUtil.strCommad(pi.getData().getExecutions()) %></td>
		<td nowrap width="1%" align="right" valign="top" rowspan="2">
			<%= DbPoolUtil.strNanoTime2(pi.getData().getTotalExecuteDuration() + pi.getData().getTotalFetchDuration()) %><br>
		</td> 
		<td nowrap width="1%" align="right" valign="top" rowspan="2">
			<%= DbPoolUtil.strNanoTime2(pi.getData().getTotalExecuteDuration()) %><br>
		</td> 
		<td nowrap width="1%" align="right" valign="top" rowspan="2">
			<%= DbPoolUtil.strNanoTime2(pi.getData().getTotalFetchDuration()) %>
		</td> 
		<td nowrap width="1%" align="right" valign="top" rowspan="2"><%= DbPoolUtil.strCommad(pi.getData().getRows()) %></td>
		<td width="99%" valign="top"><%= DbPoolUtil.q(pi.getKey()) %></td>
	</tr>
	<tr class="statrow">
		<td width="99%" valign="top" class="statrequest"><%= DbPoolUtil.q(pi.getRequest()) %></td>
	</tr>
<%	}	%>
</table>
