/*** 005_oddchars.frag.css ***/
/*** Select special chars ***/
.ui-oddchars {
	padding: 10px;
}

.ui-oddchars-tbl2 {
	margin-top: 15px;
}

.ui-oddchars-c {
	border: 1px solid black;
	width: 2em;
	height: 2em;
	text-align: center;
}

.ui-oddchars-c:hover {
	background-color: #ffe1bf;
}

.ui-oddchars-dt {
	border: 1px solid black;
	text-align: center;
}

.ui-oddchars-dt:hover {
	background-color: #ffe1bf;
}
