/*** 105_lookupinput.frag.css ***/
/*** LookupInput thingerydoo ***/
.ui-lui {
	/* background: #ffffff; */
	padding: 0px;
	margin: 0px;
}

div.ui-lui-selected{
	border-color:#ABADB3 #BFCDD9 #BFCDD9;
	display: inline-block;
	border-style:solid;
	border-width:1px;
	-moz-border-radius: 2px;
	margin-bottom: 3px;
}

div.ui-lui-selected-ro {
	border: <%= readonly_border %> solid 1px; /* same border color as one used for ui-dspv fields */
}
	

table.ui-lui {
	width: 12em; /*	this width match with date field picker icon on IE rendering */
	white-space: nowrap;
}

div.ui-lui td{
	vertical-align: top;
}


.ui-input-err * .ui-lui-v {
	background-color: #ffe5e5 !important;
}
.ui-lui-vcell {
	width: 99%;
}

/*** LookupForm ***/
.ui-lf-coll {
	padding-bottom: 10px;
}

/*** Button bar ***/
div.ui-lf-ebb {
	margin-top		: 8px;
	padding-bottom	: 8px;
}

div.ui-lf-ebb button {
	margin-bottom: 2px !important;
}

/*** Layout for table with input data in two, or more, rows ***/
table.ui-lf-multi > tbody > tr > td {
	padding-left			: 100px;
	white-space				: nowrap;
}

table.ui-lf-multi > tbody > tr > td:first-child {
	width					: 1px;
	padding-left			: 0px !important;
}

/*** Standard table with inputs style - prompt and input cells table kind ***/
table.ui-lf-st tr > td.ui-f-lbl:first-child,
.ui-lf-multi table tr > td.ui-f-lbl:first-child {
	min-width: 150px;
	width: 1%;
}

table.ui-lf-st input.ui-ro,
table.ui-lf-st input.ui-ro:hover {
	text-align: left !important;
}
