.d-sbc {
	background-color: #24292e;
	color: rgba(255,255,255,0.75);
	padding: 4px 8px 4px 8px;
	height: 58px;
}

.d-sbc-crumb {
	position: absolute;
	top: 16px;
	left: 200px;
	height: 20px;
	right: 0px;

	font-size: 16px;
}

.d-sbc-logo {
	position: absolute;
	top: 4px;
	left: 10px;
	height: 40px;
	width: 190px;
}
.d-sbc-l {
	text-decoration: none;
	color: #E16600;
}

.d-expl {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-bottom: 8px;
}

.d-git-commits {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 14px;
	font-size: 9px;
	font-family: "Arial", "Helvetica", Sans-Serif;
	text-align: right;
}

.d-git-lbl, .d-git-val {
	font-size: 9px;
}

.home-page .ui-cptn {
	margin-top: 10px;
}
.dm-content-links {
	margin: 0px 20px;
}

.dm-expl-panel {
	width: 500px;
	margin: 20px;
}

.dm-src-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/java-icon.png) no-repeat;
}

.dm-expl {
	/*background: #aaaaaa;*/
}

.dm-centerpnl {
	width: 980px;
	height: auto;
	padding: 20px;
	margin: 0 auto;
}

/******** Syntax highlighting for patch renderer ***********/
.dm-srcp-scrl {
	position: absolute;
	top: 30px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
	font-family: 'Fira Mono';
	font-size: 12px;
}

.dm-srcp-lnr {
	width: 4em;
	background: #ccc;
	text-align: right;
	font-style: italic;
	padding-right: 4px;
}

.dm-srcp-txt {
	padding-left: 5px;
}

pre.code {
	font-family: Bitstream Vera Mono, Consolas, Courier, monospace;
	font-size: small;
	height: 500px;
	overflow: scroll;

	/*	margin-top: 0px; */
}

.s-line {
	margin: 0px;
	padding: 0px;
}

.s-diffstart {
	background-color: #ccca8f;
}

.s-diffold, .s-diffmin {
	background-color: #ffded6;
}

.s-diffnew, .s-diffplus {
	background-color: #ebffd7;
}

.s-diffline {
	background-color: #b8dfff;
}

.s-diffchar {
	color: red;
}

.s-diffnone {
}

.s-comment1 {
	color: #006121;
	font-style: italic;
}

.s-comment2 {
	color: #003842;
	font-style: italic;
}

.s-comment3 {
	color: #003842;
	font-style: italic;
}

.s-operator {
	color: black;
}

.s-function {
	color: #000fd4;
}

.s-keyword1 {
	color: #fb8d00;
	font-weight: bold;
}

.s-keyword2 {
	color: #86002f;
	font-weight: bold;
}

.s-literal1 {
	color: #00afaf;
}

.s-literal2 {
	color: #00afaf;
}

.s-digit {
	color: #842900;
}

/*** Wiki page data ***/
.ui-wiki {
	position: absolute;
	width: 550px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	border-left: 2px dotted gray;
}

.ui-demo-content {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 550px;
	padding: 5px;
}


/*** Tree2 demo page ***/
.dm-tree2-icon {
	color: #d18100;
	height: 100%;
	float: left;
	padding-right: 5px;
	font-size: larger;
	/*width: 35px;*/
}
